// Put your asset page layout here.

#assets a.asset-icon {
  display: block;
  border: 1px solid $tn-med-grey;
  background: $tn-light-grey;
  color: #000;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

#new-asset {
  display: none;
}

form.edit_asset {
  display: inline-block;
  margin: $tn-margin 0 0;
  width: 100%;
}

#new-asset, #upload-asset {
  .fields.full {
    margin-bottom: 0;
  }
  .fileupload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 0 10px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: $tn-font-small;
    input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      filter: alpha(opacity = 0);
      cursor: pointer;
    }
  }
  .form-group {
    float: right;
  }
}
