// define breakpoints
$tn-bp-desktop: new-breakpoint(min-width 1400px 12);
$tn-bp-laptop: new-breakpoint(min-width 960px 12);
$tn-bp-tablet: new-breakpoint(min-width 768px 12);
$tn-bp-mobile: new-breakpoint(max-width 767px 12);
$max-width: 100%;

.mobile {
  @include media($tn-bp-tablet) {
    display: none !important;
  }
}

.tablet {
  @include media($tn-bp-mobile) {
    display: none !important;
  }
  @include media($tn-bp-tablet) {
    display: block !important;
  }
}

.laptop {
  @include media($tn-bp-mobile) {
    display: none !important;
  }
  @include media($tn-bp-tablet) {
    display: none !important;
  }
  @include media($tn-bp-laptop) {
    display: block !important;
  }
}

.desktop {
  @include media($tn-bp-mobile) {
    display: none !important;
  }
  @include media($tn-bp-tablet) {
    display: none !important;
  }
  @include media($tn-bp-laptop) {
    display: none !important;
  }
  @include media($tn-bp-desktop) {
    display: block !important;
  }
}
