// define breakpoints
$desktop-breakpoint: new-breakpoint(min-width 1400px 12);
$laptop-breakpoint: new-breakpoint(min-width 960px 12);
$tablet-breakpoint: new-breakpoint(min-width 768px 12);
$mobile-breakpoint: new-breakpoint(max-width 767px 12);
$max-width: 100%;