.container {
  @include outer-container;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.page-wrap {

  @include media($mobile-breakpoint) {
    padding-top: 50px;
  }

  padding-top: 100px;
  padding-bottom: 16px;
  min-height: 100%;
}

.main-content {
  margin: 0 16px;
  padding-top: 16px;
}
