.main-nav {
  @include transform(translate(-$main-nav-width, 0));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: $main-nav-width;
  height: 100%;
  background-color: $main-nav-bg-color;

  li {
    padding: 5px 10px;
  }

  a {
    color: $main-nav-fg-color;
  }

  i {
    margin-right: 5px;
  }
}

.main-nav, .nav-pusher, .util-nav {
  @include transition(all 0.25s ease);
}

.nav-pusher {
  position: relative;
  min-height: 100vh;
}

.nav-open {
  .main-nav {
    @include transform(translate(0, 0));
  }

  .nav-pusher, .util-nav {
    @include transform(translate($main-nav-width, 0));
  }
}
