body {
  background-color: $body-bg-color;
}

main, main.container {
  @include z-depth-1;
  background-color: $main-bg-color;
  padding: $default-spacing;
  margin-top: $util-nav-height + $default-spacing;
}
