body {
  background-color: $body-bg-color;
  overflow-x: hidden;
}

main {
  padding-top: $util-nav-height + $toolbar-height + $default-spacing;
  margin: 0 auto;
  width: 90%;
  max-width: 1170px;
}
