.main-nav {
  @extend .blue-grey.darken-3;
  @include transition(transform 0.25s ease);
  @include transform(translate(-$main-nav-width, 0));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: $main-nav-width;
  height: 100%;

  li {
    padding: 5px 10px;
  }

  a {
    @extend .white-text;
  }

  i {
    margin-right: 5px;
  }
}

.nav-pusher {
  @extend .grey.lighten-4;
  @include transition(all 0.25s ease);
  position: relative;
  min-height: 100vh;
}

.nav-open {
  .main-nav {
    @include transform(translate(0, 0));
  }

  .nav-pusher {
    @include transform(translate($main-nav-width, 0));
    opacity: .7;
  }
}
