#quick-search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  &:before {
    @extend .ion;
    @include font-size($h3-size);
    position: absolute;
    z-index: 1; // just above the input
    top: 19px;
    left: $default-spacing/3;
    display: block;
    content: $ionicon-var-android-search;
    color: $quick-search-fg-color;
  }
}

input.search {
  @include default-transition;
  @include font-size($h5-size);
  line-height: $util-nav-height - $default-spacing*(2/3);
  position: relative;
  top: $default-spacing/3;
  display: inline-block;
  width: 100%;
  padding: 0 $default-spacing/3 0 $default-spacing*1.5;
  color: $quick-search-fg-color;
  border: 0;
  border-radius: $default-border-radius;
  background-color: $quick-search-bg-color;
}
