.panel.record {
  @include default-transition;
  width: 100%;
  margin-bottom: 1px;
  padding: $default-spacing/2 $default-spacing;
  opacity: .8;
  &:hover {
    @include z-depth-1;
    opacity: 1;
    .record-details .actions {
      opacity: .9;
    }
  }
  &.is-expanded {
    width: 104%;
    margin: 1px -2%;
  }

  .expand-record {
    cursor: pointer;
  }
}

.record-details {
  position: relative;
  p {
    margin: 0;
    &.title {
      @include truncate;
      color: $body-fg-color;
    }
  }
  .actions {
    @include default-transition;
    padding-left: $default-spacing/2;
    text-align: right;
    background-color: $panel-bg-color;
    a {
      display: inline-block;
      padding: 0 $default-spacing/3;
      color: $primary-fg-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.record-expanded {
  display: none;
  padding-top: $default-spacing/3;
  .actions {
    border-top: 1px solid $light-border-color;
    a {
      @include font-size-smaller;
      line-height: $default-spacing*2;
      margin-right: $default-spacing;
      text-transform: uppercase;
    }
  }
}

@include bp-md {
  .panel.record {
    .record-details .actions {
      @include transform-style(preserve-3d);
      position: absolute;
      z-index: 10;
      top: $default-spacing/6;
      right: 0;
      bottom: 0;
      opacity: 0;
      a {
        @include vertical-align;
      }
    }
  }
}
