.record-list {
  li {
    @include default-transition;
    border-bottom: 1px solid $light-border-color;
    width: 100%;
    padding: $default-spacing / 3;

    &:hover {
      background-color: lighten($primary-color, 41%);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .title a {
    color: $primary-fg-color;
  }

  .actions  a {
    @include font-size-smallest;
    display: inline-block;
    margin-right: $default-spacing / 2;

    &:last-child {
      margin-right: 0;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.infinite-loader {
  @include font-size-h3;
  display: none;
  text-align: center;
  color: $dark-grey;

  &.visible {
    display: block;
  }
}

@include bp-md {
  .record-list {
    .actions {
      float: right;
    }
  }
}
