.sidebar-container {
  @include media($mobile-breakpoint) {
    @include transition(all 0.2s ease);
    left: -100%;
    right: 100%;
    display: block;
    margin-right: 58px;
    &.mobile-open {
      right: 0;
      left: 0;
    }
  }

  @include media($tablet-breakpoint) {
    left: 60px;
    width: 190px;
    float: left;
  }

  position: fixed;
  top: 0;
  z-index: $tn-z-sidebar;
  overflow: hidden;
  padding: ($tn-header-height + $tn-padding) 0 0;
  height: 100%;
  background: $tn-sidebar;
  color: $tn-light-grey;
  .sidebar {
    @include media($mobile-breakpoint) {
      padding-bottom: 50px;
    }

    overflow: auto;
    width: 100%;
    height: 100%;
    .content {
      padding: 0 $tn-padding;
    }
    h2 {
      margin: 0 0 30px;
      padding: 0;
      color: $tn-off-white;
      font-weight: normal;
      font-size: 18px;
    }
    h3 {
      color: $tn-off-white;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 15px;
    }
    h4 {
      margin-top: $tn-margin;
      margin-bottom: 3px;
      padding: 0 $tn-padding;
      color: $tn-sidebar-label;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 30px;
    }
    nav ul {
      margin: 0;
      padding: 0;
      li {
        &:hover {
          background: $tn-sidebar-highlight;
        }
        &.active, &:target {
          background: $tn-sidebar-highlight;
        }
      }
      a {
        padding: 10px $tn-padding;
        width: 100%;
        display: block;
        color: $tn-off-white;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }
        span.count {
          position: relative;
          top: -3px;
          display: inline-block;
          float: right;
          padding: 5px;
          min-width: 25px;
          border-radius: 25px;
          background: lighten($tn-sidebar, 10%);
          color: $tn-primary-text;
          vertical-align: middle;
          text-align: center;
          font-size: 11px;
        }
      }
    }
    .notification {
      margin-bottom: 20px;
      font-size: 12px;
      a {
        display: inline-block;
        margin-top: 3px;
        padding: 5px 10px;
        border-radius: 25px;
        background: lighten($tn-sidebar, 10%);
        color: $tn-primary-text;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}
