.toolbox {
  margin-bottom: $default-spacing;
  // Put advanced search filters and stuff in here
  padding: $default-spacing/2 $default-spacing;
  border-top: 1px solid $light-border-color;
  background-color: $primary-color;
  p, h6 {
    margin: 0;
    color: $white;
  }
}
