.toolbar {
  position: fixed;
  z-index: 997;
  top: $util-nav-height;
  left: 0;
  overflow: visible;
  width: 100%;
  height: $toolbar-height;
  padding: 0 $default-spacing;
  border-bottom: 1px solid $light-border-color;
  background: $body-bg-color;

  .breadcrumbs {
    float: left;
    height: $toolbar-height;
    li {
      line-height: $toolbar-height;
      overflow: hidden;
      max-width: 120px;
      height: $toolbar-height;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .actions {
    line-height: $toolbar-height;
    float: right;
    height: $toolbar-height;

    .action {
      @include font-size($h3-size);
      display: inline-block;
      padding: 0 $default-spacing / 2;
      color: $primary-fg-color;
    }

    .btn {
      margin-top: ($toolbar-height - $btn-height) / 2;
      vertical-align: top;
    }
  }
}





.main-nav-open .toolbar {
  padding: 0 $default-spacing / 2;
}
