.util-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  padding: 0 $default-spacing;
  height: $util-nav-height;
  background-color: $util-nav-bg-color;
  color: $util-nav-fg-color;

  a {
    color: $util-nav-fg-color;
  }

  .toggle-main-nav {
    @include default-transition;
    float: left;
    height: $util-nav-height;
    padding: 9px 0;
  }

  .brand-logo {
    display: inline-block;
    margin-left: $default-spacing;
    padding-top: 9px;
  }
}
