%section
  %a.scroll-target{name: 'forms__tenon'}
  %h3.color-black Tenon content

  .panel.panel--padded
    = f.tenon_content :content
    %code
      %p f.tenon_content :content
    %p Requires setup in the model
    %code
      class Sample < ApplicationRecord
      %br/
      &nbsp;&nbsp;tenon_content :content, i18n: true
      %br/
      end
