%section
  %a.scroll-target{name: 'typography__blockquote'}
  %h3.color-black Blockquote

  .panel.panel--padded
    %blockquote The quick brown fox jumps over the lazy dog.
    %code= "<blockquote>The quick brown fox jumps over the lazy dog.</blockquote>"
