%section
  %a.scroll-target{name: 'typography__paragraph'}
  %h3.color-black Paragraph
  %p Includes a mixin, a variable and a class helper.

  .panel.panel--padded
    %p The quick brown fox jumps over the lazy dog.
    %code.expandable
      = expandable_toggle
      %p= "<p>The quick brown fox jumps over the lazy dog.</p>"
      %br/
      %p
        %span.color-primary Silent class:
        = "@extend %font-body;"
      %p
        %span.color-primary Variables:
        = "$body-size, $body-line-height"
