%drawer {
  position: fixed;
  top: $util-nav-height;
  left: -100%;
  z-index: $z-layout-drawer;
  background-color: $body-bg-color;
  width: 100%;
  height: 100%;
  overflow: auto;

  @include bp-md {
    left: -$main-nav-width;
    border-right: 1px solid $light-border-color;
    box-shadow: inset -2px 1px 10px -6px $inset-shadow-color;
    width: $main-nav-width;
  }
}
