@mixin font-style-generators {
  @for $i from 1 through 9 {
    %font-n#{$i} {
      font-weight: #{$i*100};
      font-style: inherit;
    }

    .font-n#{$i} {
      @extend %font-n#{$i};
    }

    %font-i#{$i} {
      font-weight: #{$i*100};
      font-style: italic;
    }

    .font-i#{$i} {
      @extend %font-i#{$i};
    }
  }
}

@include font-style-generators;

// Example usage:
// @extend %font-n4;
// @extend %font-n2;
// @extend %font-n6;
// @extend %font-i4;
