//* Docs: https://design.google.com/icons/ *//
%material-icon {
  @include font-size($standard-icon-size);
  display: inline-block;
  width: 1em;
  height: 1em;
  text-transform: none;
  text-rendering: optimizeLegibility; // Support for Safari and Chrome.
  line-height: 1;
  white-space: nowrap;
  font-family: 'Material Icons';
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale; // Support for Firefox.
  -webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
  font-style: normal;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga'; // Support for IE.
}
