%font-h1 {
  @extend %font-n3;
  @include font($h1-size, $h1-line-height);
  font-family: $font-family-h1;
}

%font-h2 {
  @extend %font-n3;
  @include font($h2-size, $h2-line-height);
  font-family: $font-family-h2;
}

%font-h3 {
  @extend %font-n3;
  @include font($h3-size, $h3-line-height);
  font-family: $font-family-h3;
}

%font-h4 {
  @extend %font-n4;
  @include font($h4-size, $h4-line-height);
  font-family: $font-family-h4;
}

%font-h5 {
  @extend %font-n7;
  @include font($h5-size, $h5-line-height);
  font-family: $font-family-h5;
}

%font-h6 {
  @extend %font-n7;
  @include font($h6-size, $h6-line-height);
  font-family: $font-family-h6;
}

%font-body {
  @extend %font-n4;
  @include font($body-size, $body-line-height);
  font-family: $font-family-body;
}

%font-normal {
  @include font($body-size, $body-line-height);
}

%font-small {
  @include font($small-size, $small-line-height);
}

%font-smaller {
  @include font($smaller-size, $smaller-line-height);
}

%font-smallest {
  @include font($smallest-size, $smallest-line-height);
}
