// Default Text Styles
html,
body {
  line-height: $body-line-height;
  color: $primary-fg-color;
  font-size: $body-size * 1px; // required for rem
  @extend %font-body;
}

// Links
a,
button {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

// Default typography
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 $default-margin;
}

h1, .font-h1 {
  @extend %font-h1;
}

h2, .font-h2 {
  @extend %font-h2;
}

h3, .font-h3 {
  @extend %font-h3;
}

h4, .font-h4 {
  @extend %font-h4;
}

h5, .font-h5 {
  @extend %font-h5;
}

h6, .font-h6 {
  @extend %font-h6;
}

.font-body {
  @extend %font-body;
}

.font-small {
  @extend %font-small;
}

.font-smaller {
  @extend %font-smaller;
}

.font-smallest {
  @extend %font-smallest;
}

blockquote {
  margin: 0 0 $default-margin;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: $default-spacing;
}

small {
  @extend %font-smallest;
}

strong {
  @extend %font-n7;
}

em {
  @extend %font-i4;
}
