*.gem
.bundle/
.ruby-version
log/*.log
pkg/
spec/dummy/.sass-cache
spec/dummy/config/database.yml
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/migrate/
spec/dummy/log/*.log
spec/dummy/public/assets
spec/dummy/public/system
spec/dummy/tmp/
tags
vendor/ruby
node_modules
spec/dummy/node_modules
