*.gem
.bundle/
.ruby-version
log/*.log
pkg/
test/dummy/.sass-cache
test/dummy/config/database.yml
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/public/assets
test/dummy/public/ckeditor
test/dummy/public/system
test/dummy/tmp/
test/dummy/node_modules
test/dummy/client/build
node_modules
tags
vendor/ruby
tmp/
doc/*
