- if can?(:index, Gallery)
  = tenon_menu_item item, galleries_path, :active => is_active("galleries"), :submenu => can?(:create, Gallery)
  - if can?(:create, Gallery)
    %ul.tenon_submenu{ :class => is_active(["galleries"]) ? "#{item} active" : item }
      = link_to t('tenon.galleries.new_gallery'), new_gallery_path, :class => ("active" if is_active(["galleries"]) && params[:action] == "new")
    .spacer
