= react_component 'ResourceIndexRoot',
    title: '<%= plural_name.titleize %>',
    breadcrumbs: breadcrumb_links,
    recordsPath: <%= plural_name %>_path(format: 'json'),
    newPath: new_<%= singular_name %>_path
