// Styleguide
#styleguide {
  section {
    position: relative;
    padding: $util-nav-height 0 0;
    &.styleguide-index {
      padding-top: 0;
    }
  }
  .scroll-target {
    position: absolute;
    top: -$default-spacing;
  }
  nav {
    > ul {
      li ul {
        @include font-size($small-size);
        padding-left: $default-spacing;
      }
    }
  }
  code {
    p {
      margin: 0;
    }
  }
  .fab {
    position: relative;
    right: auto;
    bottom: auto;
  }
}

// Sections
@import './colors';
@import './expandable';
