[type=text],
[type=email],
[type=password],
[type=number],
textarea,
.editable-text,
select {
  @include placeholder {
    color: $placeholder-color;
  }
  @include default-transition;
  @include font-size-smaller;
  @include appearance(none);
  line-height: normal;
  display: block;
  width: 100%;
  height: 34px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid $light-border-color;
  border-radius: 0;
  background: transparent;

  &:focus {
    border-color: $primary-color;
  }

  &.stacked {
    margin-bottom: $default-spacing / 4;
  }
}

textarea,
.editable-text {
  @include font-size-smaller;
  height: auto;
  min-height: 34px;
  margin-top: $default-spacing/3;
  padding-left: $default-spacing/2;
  border-left: 1px solid $light-border-color;
}

.required {
  &:after {
    display: inline-block;
    width: $required-dot-size;
    height: $required-dot-size;
    margin-left: 5px;
    content: "";
    vertical-align: middle;
    border-radius: 50%;
    background: $required-color;
  }
}

input.form-title-field {
  @include font-h3;
  border: 0;
}
