%p
  = t('tenon.comment_mailer.a_new_comment_has_been_added')
  = link_to @post.title, post_url(@post, host: Tenon::MySettings.full_url)

%p{:style => "text-align:center"} --

%p= simple_format(@comment.content)
