.breadcrumbs {
  @include truncate;
  line-height: $util-nav-height;
  position: absolute;
  top: 0;
  left: 0;
  width: $main-nav-width;
  height: $util-nav-height;
  padding-left: $default-spacing*2.5;
  li {
    @include truncate;
    display: block;
    float: left;
    width: auto;
    max-width: 50%;
    color: $toolbar-fg-color;
    &:after {
      @extend .ion;
      position: relative;
      display: inline-block;
      padding: 0 $default-spacing/2;
      content: $ionicon-var-ios-arrow-forward;
      color: $light-border-color;
    }
    &:last-of-type:after {
      display: none;
    }
    a {
      color: $util-nav-fg-color;
    }
  }
}
