.expandable {
  height: 74px; // default one line of code height
  padding-bottom: $default-spacing*1.5;
  &.is-expanded {
    height: auto;
    .expand i {
      @include transform(rotate(180deg));
    }
  }
  .expand {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: $grey;
    i {
      @include font-size($standard-icon-size);
      display: block;
      margin: 0 auto;
      color: $white;
    }
  }
}
