// layout:
$z-layout-util-nav: 30;
$z-layout-toolbar: 40;
$z-layout-main-nav: 10;
$z-layout-filter: 20;

// ui:
$z-account: 70;
$z-nav-toggle: 50;
$z-kebab-dropdown: 10;
$z-btn-floating: 10;
$z-panel-open: 10;
$z-filters-active: 60;
$z-quick-search-active: 50;
$z-quick-search-input: 10;
$z-quick-search-actions: 20;
