@mixin font-h1 {
  @extend .font-n3;
  @include font($h1-size, $h1-line-height);
  font-family: $font-family-h6;
}

@mixin font-h2 {
  @extend .font-n3;
  @include font($h2-size, $h2-line-height);
  font-family: $font-family-h6;
}

@mixin font-h3 {
  @extend .font-n3;
  @include font($h3-size, $h3-line-height);
  font-family: $font-family-h6;
}

@mixin font-h4 {
  @extend .font-n4;
  @include font($h4-size, $h4-line-height);
  font-family: $font-family-h6;
}

@mixin font-h5 {
  @extend .font-n6;
  @include font($h5-size, $h5-line-height);
  font-family: $font-family-h6;
}

@mixin font-h6 {
  @extend .font-n6;
  @include font($h6-size, $h6-line-height);
  font-family: $font-family-h6;
}

@mixin font-body {
  @extend .font-n4;
  @include font($default-font-size, 30);
  font-family: $font-family-body;
}

@mixin font-size-small {
  @include font($small-size, $small-line-height);
}

@mixin font-size-smaller {
  @include font($smaller-size, $smaller-line-height);
}

@mixin font-size-smallest {
  @include font($smallest-size, $smallest-line-height);
}
