// Import font(s):
@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic";

// Font family:
$font-sans: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;

// Font family:
$font-family-body: $font-sans;
$font-family-h1: $font-sans;
$font-family-h2: $font-sans;
$font-family-h3: $font-sans;
$font-family-h4: $font-sans;
$font-family-h5: $font-sans;
$font-family-h6: $font-sans;
