// Import icons font(s):
$font-icon: "Material Icons";

// Import font(s):
@import "//fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,700,700italic";

// Font family:
$font-primary: "Roboto", "Helvetica Neue", Helvetica, sans-serif;

// Font family:
$font-family-body: $font-primary;
$font-family-h1: $font-primary;
$font-family-h2: $font-primary;
$font-family-h3: $font-primary;
$font-family-h4: $font-primary;
$font-family-h5: $font-primary;
$font-family-h6: $font-primary;
