pre,
code {
  @include font-small;
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: $default-spacing;
  padding: $default-spacing/2 $default-spacing;
  border-left: 4px solid $grey;
  background-color: $body-bg-color;
}
