.form-label Contact
.panel--block
  .row
    .form-field.inner4
      %label Contact Email
      = text_field_tag "settings[contact_email]", Tenon::MySettings.contact_email, placeholder: "--"
      .explanation Destination email address for alerts.  Separate multiple email addresses with commas.

    .form-field.inner4
      %label Sender Email
      = text_field_tag "settings[from_email]", Tenon::MySettings.from_email, placeholder: "--"
      .explanation "From" email address for alerts.

    .form-field.inner4.omega
      = check_box_tag "settings[comment_email]", 1, Tenon::MySettings.comment_email
      %label{for: 'settings_comment_email'} Comment Email
      .explanation Do you want to receive an email when someone posts a comment?
