- content_for :sidebar do
  .sidebar
    .content
      %h2 Settings

    %h4 Sections
    %nav
      %ul
        %li.active= link_to "General Settings", '#general', data: {toggle: 'tab'}

%header
  %h1 Site Settings

  .tools
    = render "tenon/shared/section_header/sidebar_toggle"

.main-content
  = form_tag({:action => :update}, :method => "PUT") do
    .tabs
      #general.tab-pane.active= render :partial => "general"
