- content_for :sidebar do
  .sidebar
    .content
      %h2 Settings

    %h4 Sections
    %nav
      %ul
        %li.active= link_to "General Settings", '#general', data: {toggle: 'tab'}

%header
  %h1 Site Settings
  .spacer

.main-content
  .container

    = form_tag({:action => :update}, :method => "PUT") do
      .tabs
        #general.tab-pane.active= render :partial => "general"
