.four-column-image
  - row.pieces.each_slice(2) do |group|
    .tn-tc-piece.six{class: cycle('', 'omega')}
      - group.each do |piece|
        .tn-tc-piece.nested.six
          = render "tenon/tenon_content/piece_types/display/image", piece: piece
  .spacer