.left-wrapped-image-with-text.wrapped-image-with-text
  .twelve
    - row.pieces.each do |piece|
      - if piece.piece_type == "Image"
        .tn-tc-wrapped-image.left.omega{class: piece.size}
          = render "tenon/tenon_content/piece_types/display/image", piece: piece
      - if piece.piece_type == "Text"
        = render "tenon/tenon_content/piece_types/display/text", piece: piece
  .spacer