.tn-tc__row.left-image-right-text.image-and-text
  - row.pieces.each do |piece|
    - if piece.piece_type == 'Image'
      .tn-tc-piece.tn-tc-asset-field{ :class => piece.size }
        = render 'tenon/tenon_content/piece_types/display/image', piece: piece
    - elsif piece.piece_type == 'Text'
      .tn-tc-piece.omega{ :class => piece.size }
        = render 'tenon/tenon_content/piece_types/display/text', piece: piece
  .spacer
