.three-column-image-and-text.stacked-image-and-text
  -[[0,1], [2,3], [4,5]].each do |positions|
    .four{class: cycle('', '', 'omega')}
      - row.pieces.select { |p| positions.include?(p.position) }.each do |piece|
        - if piece.object.piece_type == 'Image'
          .tn-tc-piece
            = render "tenon/tenon_content/piece_types/display/image", piece: piece
        - else
          .tn-tc-piece
            = render 'tenon/tenon_content/piece_types/form/text', piece: piece
  .spacer
