%h4 Languages
%nav.i18n-nav
  %ul
    %li.active= link_to 'English', '#', data: { 'i18n-lang' => 'en' }
    - Tenon.config.languages.each do |title, lang|
      %li= link_to title, '#', data: { 'i18n-lang' => lang }