%h4 Posts
%nav
  %ul
    %li{class: ('active' if controller_name == 'posts')}= link_to "Posts", posts_path
    %li{class: ('active' if controller_name == 'post_categories')}= link_to "Post Categories", post_categories_path