.form-group
  = f.text_field :seo_title, :class => "title", :style => "width: 100%;", :label => t('tenon.settings.title_tag'), :'data-popover' => true, :explanation => t('tenon.settings.this_is_the_title_that_will_show'), :'data-placement' => 'bottom'
.form-group
  = f.text_area :seo_keywords, :style => "width: 100%;", :rows => 5, :label => t('tenon.settings.meta_keywords'), :'data-popover' => true, :explanation => t('tenon.settings.these_meta_keywords_will'), :'data-placement' => 'bottom'
.form-group
  = f.text_area :seo_description, :style => "width: 100%;", :rows => 5, :label => t('tenon.settings.meta_description'), :'data-popover' => true, :explanation => t('tenon.settings.this_description_will_show_up'), :'data-placement' => 'bottom'
