.util-nav{ class: (modifier if local_assigns[:modifier]) }
  = link_to '#!', class: 'util-nav__action-icon dropdown-button', data: { dropdown_activate: true } do
    .action-icon= i('person')

  %ul.dropdown#account-dropdown
    %li.dropdown__divider
    %li.dropdown__item
      = active_link_to destroy_user_session_path, method: :delete, class: 'dropdown__action action-icon' do
        = i('exit_to_app')
        %span Logout
