%nav.util-nav

  %a.toggle-nav{ href: '#', data: { toggler_class: 'nav-open', toggler_selector: 'body' } }
    .burger

  = link_to image_tag('tenon/tenon_icon.png'), tenon.root_path, class: 'brand-logo center'


