// Named colors
$black: #555;
$true-black: #000;
$white: #fff;
$orange: #ff6f39;
$grey: #ababab;
$cobalt: #2d3b41;
$primary-color: #c50b20;
$secondary-color: #208dd9;
$accent-color: #0aff90;
$required-color: #d0021b;
$inset-shadow-color: rgba(0, 0, 0, .46);

// Notification colors
$error-color: #d2322d;
$success-color: #47a447;
$warning-color: #ed9c28;
