// Named colors
$black: #555555;
$white: #ffffff;
$grey: #ababab;
$primary-color: purple;
$secondary-color: #ff6f39;
$accent-color: #0aff90;
$required-color: #d0021b;
$error-color: #d0021b;

// Notification colors
$error-color: #d2322d;
$success-color: #47a447;
$warning-color: #ed9c28;
