// Use American 'color' in variable names for consistency with CSS keywords.

// Generate color helpers based on base colors
@include generate_base_color_helpers('black', $black);
@include generate_base_color_helpers('white', $white);
@include generate_base_color_helpers('required', $required-color);
@include generate_color_helpers('grey', $grey);
@include generate_color_helpers('primary', $primary-color);
@include generate_color_helpers('secondary', $secondary-color);
@include generate_color_helpers('accent', $accent-color);

// Text colors
$primary-fg-color: darken($grey, 25);
$light-fg-color: darken($grey, 20);
$body-fg-color: $black;
$link-color: $primary-color;
$link-hover-color: darken($primary-color, 10%);

@include generate_base_color_helpers('primary-fg', $primary-fg-color);
@include generate_base_color_helpers('light-fg', $light-fg-color);
@include generate_base_color_helpers('body-fg', $body-fg-color);
@include generate_base_color_helpers('link', $link-color);

// Form colors
$label-color: darken($grey, 10%);
$panel-label-color: lighten($grey, 10%);
$placeholder-color: darken($grey, 10%);
$explanation-color: $grey;

// Misc.
$body-bg-color: lighten($grey, 25%);
$panel-bg-color: $white;
$contrast-bg-color: $grey;
$light-border-color: lighten($grey, 10%);
$lighter-border-color: lighten($grey, 20%);
$dark-border-color: $grey;
$hr-bg-color: lighten($grey, 20%);
$modal-bg-color: $white;
$input-focus-color: $secondary-color;
$medium-editor-toolbar-bg-color: $secondary-color;
$medium-editor-toolbar-fg-color: $white;

// Flash
$flash-bg-color: rgba($cobalt, .95);
$flash-fg-color: $grey;
$flash-emphasis-fg-color: $white;

// Datepicker
$datepicker-weekday-bg: darken($secondary-color, 7%) !default;
$datepicker-date-bg: $secondary-color !default;
$datepicker-year: rgba(255, 255, 255, .4) !default;
$datepicker-focus: rgba(0, 0, 0, .05) !default;
$datepicker-selected: $secondary-color !default;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%) !default;

// Dropdown
$dropdown-fg-color: darken($grey, 20%);
$dropdown-bg-color: $white;
$dropdown-hover-fg-color: $primary-color;
$dropdown-hover-bg-color: lighten($grey, 30%);
$dropdown-active-fg-color: $white;
$dropdown-active-bg-color: rgba($primary-color, .4);

// Buttons
$btn-primary-bg-color: $primary-color;
$btn-primary-fg-color: $white;
$btn-secondary-bg-color: $secondary-color;
$btn-secondary-fg-color: $white;
$btn-fab-bg-color: $orange;
$btn-fab-fg-color: $white;
$tool-toggle-bg-color: darken($primary-color, 10%);
$tool-toggle-fg-color: $white;

// Main Nav
$main-nav-bg-color: lighten($grey, 10%);
$main-nav-fg-color: $black;
$main-nav-hover-color: $grey;
$main-nav-icon-color: $secondary-color;
$app-info-fg-color: $white;
$app-info-hover-color: rgba($primary-color, .4);
$app-info-bg-color: darken($grey, 25%);

// Account Avatar
$avatar-bg-color: $white;
$avatar-fg-color: $primary-fg-color;

// Toolbar
$burger-color: $white;
$toolbar-bg-color: $primary-color;
$toolbar-fg-color: $white;
$toolbar-link-fg-color: rgba($white, .6);
$toolbar-link-fg-color--hover: rgba($white, .9);

// Toolbar overlays
$quick-search-input-bg-color: rgba($white, .3);
$toolbar-quick-search-bg-color: darken($white, 20%);
$toolbar-quick-search-fg-color: $white;
$toolbar-filter-bg-color: darken($white, 20%);
$toolbar-filter-fg-color: $white;

// Records
$infinite-loader-color: darken($grey, 20%);

// Tabs
$tabs-bg-color: $white;
$tabs-fg-color: $link-color;
$tabs-underline-color: $primary-color;
