// Use American 'color' in variable names for consistency with CSS keywords.

// Named colors
$light-grey: #d9d9d9;
$med-grey: #c2c2c2;
$grey: #ababab;
$dark-grey: #878787;
$slate: #333;
$black: #333;
$white: #fff;
$off-white: #f9f9f9;
$cobalt: #12111a;
$orange: #ff6f39;
$blue: #199eff;
$blue-alt: #0177ca;
$green: #0aff90;

// Reusable colors
$client-color: $orange;
$primary-color: $blue;
$comp-color: $orange;
$highlight-color: $med-grey;

// Text colors
$primary-text-color: $slate;
$body-text-color: $black;
$link-color: $primary-color;
$label-color: #162433;

// Misc.
$body-bg-color: $light-grey;
$panel-bg-color: $white;
$light-border-color: $med-grey;

// Sidebar
$sidebar-bg-color: #242133;
$sidebar-highlight: #3a3848;

// Buttons
$button-primary-bg-color: $primary-color;
$button-primary-fg-color: $white;
$button-comp-bg-color: $comp-color;
$button-comp-fg-color: $white;
$btn-floating-bg-color: $orange;
$btn-floating-fg-color: $white;
$tool-toggle-bg-color: $green;
$tool-toggle-fg-color: $white;

// Main Nav
$main-nav-bg-color: $light-grey;
$main-nav-fg-color: $primary-text-color;

// Util Nav
$util-nav-bg-color: $primary-color;
$util-nav-fg-color: $white;
