// Use American 'color' in variable names for consistency with CSS keywords.
@import "./colors/generator";
@import "./colors/named";

// Text colors
$primary-fg-color: darken($grey, 25);
$light-fg-color: darken($grey, 20);
$body-fg-color: $black;
$link-color: $primary-color;

// Form colors
$label-color: darken($grey, 40);
$panel-label-color: lighten($grey, 10);
$placeholder-color: darken($grey, 10);
$explanation-color: $grey;

// Misc.
$body-bg-color: lighten($grey, 25);
$panel-bg-color: $white;
$contrast-bg-color: $grey;
$light-border-color: lighten($grey, 10);
$required-color: $required-color;

// Dropdown
$dropdown-bg-color: $white;
$dropdown-hover-bg-color: lighten($grey, 30);
$dropdown-fg-color: darken($grey, 20);

// // Sidebar
// $sidebar-bg-color: #242133;
// $sidebar-highlight: #3a3848;

// Buttons
$button-primary-bg-color: $primary-color;
$button-primary-fg-color: $white;
$button-comp-bg-color: $secondary-color;
$button-comp-fg-color: $white;
$btn-floating-bg-color: $secondary-color;
$btn-floating-fg-color: $white;
$tool-toggle-bg-color: darken($primary-color, 10%);
$tool-toggle-fg-color: $white;

// Main Nav
$main-nav-bg-color: lighten($grey, 10);
$main-nav-fg-color: $black;
$main-nav-hover-color: $grey;

// Util Nav
$util-nav-bg-color: $primary-color;
$util-nav-fg-color: $white;

// Records
$infinite-loader-color: darken($grey, 20%);
