// Layout variables:
$default-border-radius: 4px;
$default-spacing: 30px;
$dropdown-item-height: 40px;
$main-nav-width: 260px;
$main-nav-logo-height: 30px;
$main-nav-avatar-size: 38px;
$toolbar-height: 70px;
$util-nav-height: 60px;
$util-nav-width: 32px;
$required-dot-size: 6px;
$burger-height: 14px;
$burger-width: 24px;
$burger-line-weight: 2px;
