// Block-Level
$default-spacing: 30px;
$util-nav-height: 50px;
$main-nav-width: 180px;
$default-border-radius: 4px;
$btn-floating-size: 55px;
$tool-toggle-size: 32px;

// Typography
$h1-size: 44;
$h1-line-height: 60;

$h2-size: 38;
$h2-line-height: 40;

$h3-size: 24;
$h3-line-height: 30;

$h4-size: 18;
$h4-line-height: 24;

$h5-size: 16;
$h5-line-height: 20;

$h6-size: 14;
$h6-line-height: 20;

$smaller-size: 16;
$smaller-line-height: 20;

$smallest-size: 14;
$smallest-line-height: 20;

$btn-floating-icon-size: 24;
$tool-toggle-icon-size: 18;
