// layout:
$z-layout-toolbar: 10;
$z-layout-main-nav: 21;
$z-layout-main-nav-overlay: 20;
$z-layout-main-nav-toggle: 20;
$z-layout-drawer: 20;
$z-layout-util-nav: 200;

// ui:
$z-dropdown: 200;
$z-fab: 10;
$z-flash-message: 200;
$z-panel-open: 10;
$z-filters-active: 60;
$z-quick-search-active: 50;
$z-quick-search-input: 10;
$z-quick-search-actions: 20;
$z-modal-overlay: 300;
$z-modal: 301;
