.actions {
  position: absolute;
  top: 0;
  right: 0;
}

.action-icon {
  display: inline-block;
  position: relative;
  line-height: 44px;
  color: $primary-fg-color;

  &:hover {
    text-decoration: none;
  }

  i {
    @extend %default-transition;
    @include font($h3-size, $h3-line-height);
    display: block;
    position: relative;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    overflow: hidden;
    text-align: center;
    line-height: $default-spacing*1.5;
  }
}

.action-icon--white {
  color: rgba($white, .8);
  &:hover {
    color: rgba($white,1);
  }
}

.action-text {
  @extend %font-smaller;
  position: relative;
  height: $default-spacing*1.5;
  text-transform: uppercase;
  line-height: $default-spacing*1.5;
  color: $link-color;

  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

.action {
  float: left;
}

.action__btn {
  margin: 8px 10px 0 0;
}

.action__icon {
  margin: 8px 0 0;
}
