.breadcrumbs {
  @extend %truncate;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: $default-spacing*2.5;
  width: $main-nav-width;
  height: $util-nav-height;
  line-height: $util-nav-height;
  li {
    @extend %truncate;
    display: block;
    float: left;
    width: auto;
    line-height: $util-nav-height;
    color: $toolbar-fg-color;
    &:last-of-type i {
      display: none;
    }
    i {
      display: block;
      float: left;
      line-height: $util-nav-height;
      color: $light-border-color;
    }
    a {
      display: block;
      float: left;
      color: $toolbar-fg-color;
    }
  }
}
