.breadcrumbs {
  @extend %truncate;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: $default-spacing*2.5;
  width: $main-nav-width;
  height: $util-nav-height;
  line-height: $util-nav-height;

  li {
  }
}

.breadcrumbs__item {
  @extend %truncate;
  width: auto;
  height: $util-nav-height;
  line-height: $util-nav-height;
  color: $toolbar-fg-color;

  &:last-of-type i {
    display: none;
  }

  span, a, i {
    height: $util-nav-height;
    line-height: $util-nav-height;
    color: $toolbar-fg-color;
  }

  i {
    margin: 0 6px;
  }
}
