// Use American 'color' in variable names for consistency with CSS keywords.

// Named colors
$tn-light-grey: #e2e2e2;
$tn-med-grey: #c2c2c2;
$tn-grey: #ababab;
$tn-dark-grey: #878787;
$tn-slate: #242133;

$tn-black: #333;
$tn-white: #fff;
$tn-off-white: #f9f9f9;

// Tenon content
$tc-light-grey: $tn-light-grey;
$tc-med-grey: $tn-med-grey;
$tc-dark-grey: $tn-dark-grey;

// Medium Editor
$medium-editor-toolbar-border: transparentize(#fff, 0.6);
$medium-editor-toolbar-hover: $medium-editor-toolbar-border;
$medium-editor-toolbar-active: $medium-editor-toolbar-border;
