.drawer {
  position: fixed;
  top: $util-nav-height;
  left: -$main-nav-width;
  border-right: 1px solid $light-border-color;
  box-shadow: inset -2px 1px 10px -6px rgba(0, 0, 0, .46);
  background-color: $body-bg-color;
  width: $main-nav-width;
  height: 100%;
  overflow: auto;
  @extend %drawer-transition;
}

.drawer-pusher {
  position: relative;
  left: 0;
  width: 100%;
  min-height: 100vh;
  @extend %drawer-transition;
}

.filters-open,
.main-nav-open {
  .drawer-pusher {
    left: $main-nav-width;
    width: calc(100% - #{$main-nav-width});
  }
}
