// Flash messages
.flash {
  @extend %z-depth-2;
  position: absolute;
  top: $util-nav-height;
  z-index: $z-flash-message;
  background: $warning-bg-color;
  padding: ($default-spacing / 3) $default-spacing;
  width: 100%;
  color: $warning-fg-color;

  h2 {
    display: none;
  }

  h4, p {
    margin-bottom: 0;
  }

  ul {
    @extend %font-small;
    margin: 0 $default-spacing;
    padding: ($default-spacing / 2) 0;
  }
}

.flash--warning {
  background: $warning-bg-color;
  color: $warning-fg-color;
}

.flash--error {
  background: $error-bg-color;
  color: $error-fg-color;
}

.flash--notice {
  background: $success-bg-color;
  color: $success-fg-color;
}

.errorExplanation {
  @extend .flash;
  @extend .flash--warning;
  margin-bottom: $default-spacing;
}

.flash__dismiss {
  position: absolute;
  top: 0;
  right: $default-spacing;
  padding: ($default-spacing / 3) 0;
  text-align: right;
  color: $flash-dismiss-fg-color;

  i {
    line-height: $default-spacing;
  }

  &:hover {
    color: $flash-dismiss-fg-color;
  }
}
