// Horizontal Rule
hr {
  clear: both;
  margin: 0 0 $default-spacing/2;
  border: 0;
  border-bottom: 1px solid $hr-bg-color;
  width: 100%;
  height: 0;

  &.hr--dashed {
    border-bottom-style: dashed;
  }

  &.hr--dotted {
    border-bottom-style: dotted;
  }
}
