.input-block {
  margin-bottom: $default-spacing;
}

.input-block__label {
  @extend %font-smallest;
  display: block;
  line-height: $body-line-height;
  color: $label-color;
}

.input-block__label--is-required {
  &::after {
    display: inline-block;
    margin-left: 5px;
    border-radius: 50%;
    background: $required-color;
    width: $required-dot-size;
    height: $required-dot-size;
    vertical-align: middle;
    content: '';
  }
}

.input-block__label--inline {
  display: inline-block;
}

%text-field {
  @include default-transition;
  @include appearance(none);
  display: block;
  border: 0;
  border-bottom: 1px solid $light-border-color;
  border-radius: 0;
  background: transparent;
  padding: 0;
  width: 100%;
  line-height: normal;

  &:focus {
    border-color: $primary-color;
  }
}

.input-block__text-field {
  @extend %text-field;
  @extend %font-smaller;
  height: 34px;
}

.input-block__title-text-field {
  @extend %text-field;
  @extend %font-h3;
  border-color: transparent;
  padding: ($default-spacing / 3) 0;

  &:focus {
    border-color: $primary-color;
  }
}

.input-block__multiline-text-field {
  @extend %text-field;
  @extend %font-smaller;
  border-left: 1px solid $light-border-color;
  padding: $default-spacing / 3;
  padding-left: $default-spacing / 2;
  min-height: 34px;
  line-height: 1.4em;
}

.input-block__inline {
}

.input-block__check-box {
}

.input-block__radio-button {
}

.input-block__explanation {
  @extend %font-smallest;
  padding-top: $default-spacing / 4;
  color: $explanation-color;
}
