label, .label {
  @extend %font-smallest;
  color: $label-color;
}

.form-label {
  @extend .label;
  display: block;
  margin-bottom: $default-spacing/3;
}

.field-label {
  @extend .label;
  display: block;
  margin-bottom: 0;
}
