.main-nav-toggle {
  @extend %default-transition;
  position: fixed;
  z-index: $z-nav-toggle;
  top: $default-spacing/2;
  left: $default-spacing;
  width: $default-spacing;
  height: $util-nav-height;
}
