#main-nav {
  @extend %font-smaller;
  z-index: $z-layout-main-nav;
  color: $main-nav-fg-color;
}

.main-nav-drawer--open {
  @extend .drawer--open;

  #main-nav.drawer {
    left: 0;
  }
}

#main-nav > ul {
  padding: $default-spacing/2;
  > li {
    position: relative;
    margin-bottom: 1px;
    border-radius: $default-border-radius;
    padding: $default-spacing/5 0;
  }
  > :hover {
    background-color: rgba($white, .45);
    i {
      color: $primary-color;
    }
  }
  > .active {
    background-color: $white;
    i {
      color: $primary-color;
    }
  }

  a {
    display: block;
    padding: 0 $default-spacing/2;
    line-height: $default-spacing;
    color: $main-nav-fg-color;
    &:hover {
      text-decoration: none;
    }
  }

  i {
    @include font-size($main-nav-icon-size);
    display: inline-block;
    margin-right: $default-spacing/3;
    height: $default-spacing;
    vertical-align: middle;
    line-height: $default-spacing;
    color: $light-fg-color;
  }

  // Subnav
  .nav-item-toggle {
    position: absolute;
    top: $default-spacing/5;
    right: 0;
    i {
      color: $primary-fg-color;
      &.nav-open {
        display: inline;
      }
      &.nav-close {
        display: none;
      }
    }
  }

  .open .nav-item-toggle {
    .nav-open {
      display: none;
    }
    .nav-close {
      display: inline;
    }
  }

  li ul {
    display: none;
    padding-top: 0;
  }

  .open ul {
    display: block;
  }

  li li {
    &.active a {
      color: $main-nav-hover-color;
    }
    &:hover {
      background: transparent;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
