@mixin styled-checkbox($unchecked: "\f10c", $checked: "\f058", $active: inherit, $hover: inherit, $font-family: "FontAwesome", $float: none, $unchecked-color: $tn-grey, $checked-color: $tn-primary, $active-color: inherit, $hover-color: inherit) {
  position: absolute;
  z-index: 5;
  opacity: 0;

  & + label {
    display: inline;
    cursor: pointer;

    &:before {
      float: $float;
      padding: 0 2px;
      color: $unchecked-color;
      content: $unchecked;
      font: 22px $font-family;
      cursor: pointer;

      @if $float == none {
        padding: 6px;
      }
    }
  }

  &:checked + label:before {
    color: $checked-color;
    content: $checked;
  }

  // &:hover + label:before {

  //   @if $hover-color != inherit {
  //     color: $hover-color;
  //   }
  //   content: $hover;
  //   outline: 2px auto $checked-color;
  // }

  &:focus + label:before {
    outline: 1px dotted $checked-color;
    content: $active;

    @if $active-color != inherit {
      color: $active-color;
    }
  }
}

@mixin button($border-color, $background-color, $color, $highlight-border-color, $highlight-background-color) {
  @include transition(all 0.2s ease);
  border-color: $border-color;
  background-color: $background-color;
  color: $color;
  &:hover, &:focus, &:active, &.active {
    border-color: $highlight-border-color;
    background-color: $highlight-background-color;
    color: $color;
  }
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active,
  &.disabled.active {
    border-color: $border-color;
    background-color: $background-color;
  }
}

@mixin tetris-grid($number-of-columns: 2) {
  @include span-columns(12 / $number-of-columns);
  &:nth-child(#{$number-of-columns}n + #{$number-of-columns}) {
    margin-right: 0;
  }
  // &:nth-child(#{2 * $number-of-columns}n + 1):last-child, &:nth-child(#{2 * $number-of-columns}n + 2):last-child {
  //   @include span-columns(12);
  // }
}

