.panel {
  @extend %z-depth-1;
  position: relative;
  background-color: $panel-bg-color;
  overflow: hidden;
}

.panel--block {
  @extend .panel;
  margin-bottom: $default-spacing;
  padding: ($default-spacing / 2) $default-spacing;
}
