.panel {
  position: relative;
  background-color: $panel-bg-color;
  overflow: hidden;
  @extend %z-depth-1;
}

.panel--block {
  margin-bottom: $default-spacing;
  padding: $default-spacing/2 $default-spacing;
  @extend .panel;
}
