pre,
code {
  @extend %font-small;
  position: relative;
  display: block;
  overflow: auto;
  margin-bottom: $default-spacing;
  padding: $default-spacing/2 $default-spacing;
  white-space: nowrap;
  border-left: 4px solid $grey;
  background-color: $white;
}

.panel {
  pre,
  code {
    background-color: $body-bg-color;
  }
}
