.record-list {
}

.record {
  position: relative;
  opacity: .7;
  margin-bottom: 1px;
  background-color: $panel-bg-color;
  padding: ($default-spacing / 2) $default-spacing;
  width: 100%;
  overflow: hidden;
  @extend %z-depth-2;
  @extend %default-transition;
  &:hover {
    opacity: 1;
    @extend %z-depth-2;
  }
}

.record__details {
  position: relative;
}

.record__title {
  margin: 0;
  color: $body-fg-color;
  @extend %truncate;
}

.record__title--smallest {
  margin: 0;
  color: $body-fg-color;
  @extend %font-smallest;
}

.record__actions {
  @include bp-md {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: $z-panel-open;
    background-color: $panel-bg-color;
    padding-left: $default-spacing/2;
    text-align: right;
    @include transform-style(preserve-3d);
  }
  @extend %default-transition;
}

.record:hover .record__actions {
  opacity: .9;
}

.record__action-icon {
  color: $primary-fg-color;
  @extend .action--icon;
  @include bp-md {
    @include vertical-align;
  }

  &:hover {
    color: $primary-color;
  }
}

.record__expanded-content {
  display: none;
  padding-top: $default-spacing/3;
}

.record__expanded-title {
  color: $primary-color;
}

.record__expanded-title--smallest {
  @extend %font-smallest;
}

.record__expanded-actions {
  position: relative;
  border-top: 1px solid $light-border-color;
}

.record__expanded-action-text {
  margin-right: $default-spacing;
  @extend .action--text;
}

.record__expand-toggle {
  cursor: pointer;
}

.record--is-expanded {
  margin: 1px -2%;
  width: 104%;

  > .record__expanded-content {
    display: block;
  }
}


.infinite-loader {
  display: none;
  text-align: center;
  color: $infinite-loader-color;
  @extend %font-h3;

  &.visible {
    display: block;
  }
}
