.record-details {
  position: relative;
  p {
    margin: 0;
    &.record-title {
      @include truncate;
      color: $body-fg-color;
    }
  }
  .actions {
    @include bp-md {
      @include transform-style(preserve-3d);
      position: absolute;
      z-index: $z-panel-open;
      right: 0;
      bottom: 0;
      opacity: 0;
      .action-icon {
        @include vertical-align;
      }
    }
    padding-left: $default-spacing/2;
    text-align: right;
    background-color: $panel-bg-color;
    .action-icon {
      color: $primary-fg-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.record-list {
}

.infinite-loader {
  @include font-h3;
  display: none;
  text-align: center;
  color: $infinite-loader-color;

  &.visible {
    display: block;
  }
}

.record-expanded {
  display: none;
  padding-top: $default-spacing/3;
  .actions {
    position: relative;
    border-top: 1px solid $light-border-color;
    .action-text {
      margin-right: $default-spacing;
    }
  }
}
