.filter-drawer-open,
.quick-search-open {
  #search {
    .search-icon {
      z-index: $z-quick-search-active;
      color: $primary-fg-color;
    }
    .actions {
      z-index: $z-quick-search-active;
    }
  }
}
