.search-content {
  position: relative;
}

.search-content__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: $z-quick-search-actions;
  line-height: 40px;
  color: $toolbar-quicksearch-fg-color;
}

.search-content__field {
  @include placeholder {
    @include default-transition;
    color: white;
  }
  @include default-transition;
  @include font-size($h5-size);
  display: block;
  position: relative;
  z-index: $z-quick-search-input;
  border: 0;
  border-radius: $default-border-radius;
  background-color: $quicksearch-input-bg-color;
  padding: 0 ($default-spacing / 3) 0 ($default-spacing * 1.5);
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: $toolbar-quicksearch-fg-color;
}
