#styleguide {
  section {
    position: relative;
    padding: $util-nav-height 0 0;
    &.styleguide-index {
      padding-top: 0;
    }
  }
  .scroll-target {
    position: absolute;
    top: -$default-spacing;
  }
  code {
    @include font-size-small;
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: $default-spacing;
    padding: $default-spacing/2 $default-spacing;
    border-left: 4px solid $grey;
    background-color: $body-bg-color;
    p {
      margin: 0;
    }
    .styleguide-code-expand {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: $grey;
      i {
        @include font-size($standard-icon-size);
        display: block;
        margin: 0 auto;
        color: $white;
        border-top: 1px solid $grey;
      }
    }
    &.expandable {
      height: 80px;
      padding-bottom: $default-spacing*1.5;
      &.is-expanded {
        height: auto;
        .styleguide-code-expand i {
          @include transform(rotate(180deg));
        }
      }
    }
  }
}

.styleguide-colors {
  margin-bottom: $default-spacing;
}
.styleguide-color-block {
  float: left;
  margin-right: $default-spacing/3;
  padding: $default-spacing/3;
  border: 1px solid $grey;
  .styleguide-color {
    display: block;
    width: $default-spacing*2;
    height: $default-spacing*2;
  }
}
