// Variables
$tn-serif: "Georgia", "Times New Roman", Serif;
$tn-sans-serif: Helvetica, Arial, Sans-Serif;
$tn-open-sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$tn-font-small: 12px;
$tn-font-normal: 14px;
$tn-font-large: 16px;

// Default Text Styles
body {
  color: $tn-body-text-color;
  font-size: $tn-font-normal;
  font-family: $tn-open-sans;
  line-height: 1.428;
}

// Links

a {
  color: $tn-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Headers
h1, h2, h3, h4, h5, h6, p, i {
   opacity:0.99;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  margin: 0;
  font-size: 18px;
}

h5 {
  margin: 0;
  font-size: 14px;
}

h6 {
  margin: 0;
  font-size: 12px;
}

i, i.fa {
  font-size: 20px;
}
