.util-nav {
  position: fixed;
  top: 0;
  right: $default-spacing;
  z-index: $z-layout-util-nav;
  padding: 8px 0;
}

.util-nav__action-icon {
  @include default-transition;
  @extend %z-depth-2;
  display: inline-block;
  float: left;
  margin-left: 10px;
  border-radius: 50%;
  background-color: $avatar-bg-color;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: $avatar-fg-color;

  &:hover {
    @extend %z-depth-0;

    .action-icon {
      color: $avatar-fg-hover-color;
    }
  }
}
