.util-nav {
  position: fixed;
  top: 0;
  right: $default-spacing;
  z-index: $z-layout-util-nav;
  padding: 8px 0;
}

.util-nav__action-icon {
  display: inline-block;
  float: left;
  margin-left: 10px;
  border-radius: 50%;
  background-color: $avatar-bg-color;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: $avatar-fg-color;
  &:hover {
    background-color: $avatar-bg-hover-color;
    color: $avatar-fg-hover-color;
  }
}
