= react_component 'ResourceIndexRoot',
    title: 'Redirects',
    recordsPath: redirects_path(format: 'json'),
    newPath: new_redirect_path,
    childComponentNames: { List: 'RedirectList',
                           Record: 'RedirectRecord' }
