= render layout: 'tenon/fields/base_inline', locals: { f: f, method_name: method_name, opts: opts } do
  = f.super_check_box method_name, opts.merge(class: 'input-block__check-box')

  .input-block__check-box-icon.input-block__checked-icon
    = i('check')
