.account {
  position: fixed;
  z-index: $z-account;
  top: 0;
  right: $default-spacing;
}

.account-icon {
  line-height: $util-nav-height;
  display: block;
  float: left;
  i {
    @include font-size-h3;
    line-height: $util-nav-height - $default-spacing*(2/3);
    position: relative;
    display: block;
    overflow: hidden;
    width: $util-nav-height - 20px;
    height: $util-nav-height - 20px;
    margin: $default-spacing/3 0;
    text-align: center;
    color: $avatar-fg-color;
    border-radius: 50%;
    background-color: $avatar-bg-color;
    &:hover {
      color: $avatar-fg-hover-color;
      background-color: $avatar-bg-hover-color;
    }
  }
}

.account-avatar {
  .account-avatar-image {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
  }
}

.account-notifications {
  margin-right: $default-spacing/3;
}
