.errorExplanation {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-color: #eed3d7;
  border-radius: 4px;
  background-color: #f2dede;
  color: #b94a48;
  hr {
    border-top-color: #e6c1c7;
  }
}

.flash {
  display: none;
  position: relative;
  margin: 0;
  padding: 14px 0;
  width: 100%;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  color: $tn-black;
  & > p, & > ul {
    margin: 0 50px;
  }
  & > p + p {
    margin-top: 5px;
  }
  i {
    font-size: 20px;
    float: right;
    margin-right: 15px;
    position: relative;
    top: -20px;
  }

  a {
    color: $tn-black;
  }
}

.flash-notice {
  background-color: #01cd87;
}

.flash-alert {
  background-color: #a2e907;
}

.flash-warning {
  background-color: #cd9b01;
}

.flash-error {
  background-color: #cd5301;
  color: #fff;

  a {
    color: #fff;
  }
}
