#progress {

  .progress {
    @include transition(height 0.5s ease, margin 0.5s ease, opacity 0.5s ease);
    height: 24px;
    opacity: 1;

    &.hidden {
      margin: 0;
      height: 0;
      opacity: 0;
    }

    .title {
      position: absolute;
      padding: 0 2%;
      height: 24px;
      color: #fff;
      font-weight: 600;
      font-size: $tn-font-small;
      line-height: 24px;
    }

  }
}

