.asset-cropping {

  .preview {
    position: fixed;
    top: 50%;
    top: 50%;
    left: 50%;
    left: 50%;
    z-index: 1040;
    padding: 20px;
    background-color: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .crop_buttons {

      input {
        margin: 10px 0 0 0;
      }

      button {
        margin: 10px 10px 0 0;
      }

      label {
        margin: 12px 10px 0 0;

        &:before {
          margin-right: 5px;
        }
      }
    }

    .edit_asset {
      margin: 0;
      padding-top: 10px;
    }

    @media screen and (orientation: portrait) {

      .preview {
        max-width: 90vw;
      }
    }

    @media screen and (orientation: landscape) {

      .preview {
        max-height: 90vh;
      }
    }

    .jcrop-tracker {}

    .jcrop-holder {}

    img {
      max-width: 85vw;
      max-height: 85vh;
    }
  }
}

input.jcrop-keymgr {
  display: none;
}