.asset-cropping {

  .preview {
    @include transform(translate(-50%, 0));
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 1040;
    background-color: $tn-light-grey;

    .image-holder {
      padding: 20px;
      background-color: $tn-light-grey;
    }

    .crop_buttons {

      input {
        margin: 0;
      }

      label {
        margin: 2px 10px 0 0;

        &:before {
          margin-right: 5px;
        }
      }
    }

    .edit_asset {
      margin: 0;
      padding: 0 20px 20px;
    }

    // @media screen and (orientation: portrait) {
    //   .preview {
    //     max-width: 90vw;
    //   }
    // }

    // @media screen and (orientation: landscape) {

    //   .preview {
    //     max-height: 85vh;
    //   }
    // }

    .jcrop-keymgr {
      display: none;
    }

    img {
      max-width: 85vw;
      max-height: 80vh;
    }
  }
}

input.jcrop-keymgr {
  display: none;
}