.asset-cropping {

  .preview {
    @include transform(translate(-50%, 0));
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 1040;
    max-width: 90vw;
    max-height: 90vh;
    background-color: $tn-light-grey;

    .image-holder {
      padding: 20px;
      background-color: $tn-light-grey;
    }

    .crop_buttons {

      input {
        margin: 0;
      }

      label {
        margin: 2px 10px 0 0;

        &:before {
          margin-right: 5px;
        }
      }
    }

    .edit_asset {
      @include clearfix;
      margin: 0;
      padding: 0 20px 20px;
      background-color: $tn-light-grey;
   }

  }
}

input.jcrop-keymgr {
  display: none;
}