.asset-field {
  position: relative;

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .details {
    @include outer-container;
    margin-left: 100px;
    padding: 10px;
    height: 100px;
    background: #fff;
    position: relative;
  }

  .asset-info {
    @include span-columns(9);
  }

  .browse-button-holder {
    // @include span-columns(3);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: $tn-padding;
    // padding-top: 25px;
    // text-align: right;

    &.with-remove {
      padding-top: 15px;
    }

    &.solo {
      text-align: left;
    }

    .btn {
      padding: 5px 10px;
      border-radius: 15px;
    }

    .browse-button {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 80px;
      text-align: center;
      line-height: 22px;
    }
  }
}

.asset-list-scroller {
  overflow-y: auto;
  height: 350px;
}

.record-grid.asset-list {
  overflow-y: auto;
  background: none;

  li {

    @include media($mobile-breakpoint) {
      width: 29%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include media($tablet-breakpoint) {
      width: 22%;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    margin-right: 15px;

    .record-actions {
      display: none;
    }
  }
}

#upload-asset {
  border-bottom: 1px solid $tn-med-grey;
  padding-bottom: $tn-padding;
  margin-bottom: $tn-margin;

  .form-group {
    float: none;
  }

  .fileupload {
    margin: 0;
  }
}

#pick-asset .filter {
  margin-bottom: 10px;

  input {
    width: 260px;
    font-size: $tn-font-small;
  }
}

.nested-fields {

  .asset-label {
    display: none;
  }

  .asset-field {
    margin-bottom: 10px;
  }
}

ul.nested-field-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
