.breadcrumbs {
  li {
    display: block;
    float: left;

    &:after {
      @extend .ion;
      position: relative;
      top: -1px;
      display: inline-block;
      padding: 0 $default-spacing / 3;
      content: $ionicon-var-ios-arrow-forward;
      color: $dark-grey;
    }

    &:last-of-type:after {
      display: none;
    }
  }
}
