.btn-floating {
  @include default-transition;
  @include animation(btn-floating-intro .3s forwards .5s);
  @include transform(scale(0) rotate(-45deg));
  @include z-depth-1;
  line-height: $btn-floating-size;
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: $btn-floating-size;
  height: $btn-floating-size;
  padding: 0;
  cursor: pointer;
  transition: .3s;
  vertical-align: middle;
  color: $btn-floating-fg-color;
  border: none;
  border-radius: 50%;
  background-color: $btn-floating-bg-color;

  i {
    @include font-size($btn-floating-icon-size);
    line-height: $btn-floating-size;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: $btn-floating-fg-color;
  }

  &:hover {
    @include z-depth-1-half;
  }

  &:before {
    border-radius: 0;
  }
  &.btn-large {
    width: $btn-floating-size * 1.5;
    height: $btn-floating-size * 1.5;

    i {
      line-height: $btn-floating-size * 1.5;
    }
  }
}

@include keyframes(btn-floating-intro) {
  0% {
    @include transform(scale(0) rotate(-45deg));
  }

  100% {
    @include transform(scale(1) rotate(0deg));
  }
}
