.burger {
  $height: 14px;
  $width: 24px;
  $line-weight: 2px;
  $transition-speed: .4s;
  $transition-delay: 0s;
  $transition-function: ease;
  position: relative;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  width: $width;
  height: $height;
  transition: all $transition-speed $transition-function $transition-delay;
  border-top: $line-weight solid rgba($burger-color, .8);
  border-bottom: $line-weight solid rgba($burger-color, .8);

  &:after {
    position: absolute;
    top: ($height - $line-weight) / 2 - $line-weight;
    left: 0;
    box-sizing: border-box;
    width: $width;
    height: $line-weight;
    content: "";
    transition: all $transition-speed $transition-function $transition-delay;
    background-color: rgba($burger-color, .8);
  }

  &.ex {
    height: $height + 2px;
    border-color: $burger-color;
    &:after {
      top: ($height - $line-weight) / 2 - $line-weight + 1;
      background-color: $burger-color;
    }
  }
}

.main-nav-open .burger {
  @extend .burger.ex;
}
