.burger {
  $height:14px;
  $width: 28px;
  $color: white;
  $line-weight: 2px;
  $transition-speed: .4s;
  $transition-delay: 0s;
  $transition-function: ease;

  display: inline-block;
  position: relative;
  left: 0;
  transition: all $transition-speed $transition-function $transition-delay;
  border-top: $line-weight solid $color;
  border-bottom: $line-weight solid $color;
  width: $width;
  height: $height;
  box-sizing: border-box;

  &:after {
    position: absolute;
    top: ($height - $line-weight) / 2 - $line-weight;
    left: 0;
    transition: all $transition-speed $transition-function $transition-delay;
    background-color: $color;
    width: $width;
    height: $line-weight;
    content: '';
    box-sizing: border-box;
  }

  &.ex {
    top: 4px;
    left: -4px;
    transform: rotate(45deg);
    border-bottom: $line-weight solid transparent;

    &:after {
      top: -$line-weight;
      transform: rotate(-90deg);
      width: $width;
    }
  }
}

.main-nav-open .burger {
  @extend .burger.ex;
}
