.btn {
  @include user-select(none);
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: $tn-font-normal;
  line-height: 21px;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
  }
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &.disabled {
    box-shadow: none;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn-primary {
  @include button($border-color: $tn-button-primary-bg, $background-color: $tn-button-primary-bg, $color: $tn-button-primary-fg, $highlight-border-color: darken($tn-button-primary-bg, 5%), $highlight-background-color: darken($tn-button-primary-bg, 5%));
}

.btn-comp {
  @include button($border-color: $tn-button-info-bg, $background-color: $tn-button-info-bg, $color: $tn-button-info-fg, $highlight-border-color: darken($tn-button-info-bg, 5%), $highlight-background-color: darken($tn-button-info-bg, 5%));
}

.btn-white {
  @include button($border-color: #ccc, $background-color: #fff, $color: #333, $highlight-border-color: #adadad, $highlight-background-color: #ebebeb);
}

.btn-block {
  display: block;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  & + .btn-block {
    margin-top: 5px;
  }
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
