#dashboard-callouts {
  .callout {
    @include media($mobile-breakpoint) {
      @include tetris-grid(2);
    }

    @include media($tablet-breakpoint) {
      @include tetris-grid(4);
    }

    position: relative;
    margin-bottom: $tn-margin;
    padding: $tn-padding;
    background-color: #fff;
    h4.title {
      margin-bottom: $tn-margin;
      font-weight: 400;
      i {
        font-size: 25px;
      }
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }
}
