.fields {
  margin-bottom: $tn-margin;
  padding: 0;
  border: 0;

  .form-group {
    clear: both;
    margin: $tn-margin 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type=text], input[type=password], textarea, select {
    margin: 3px 0;
    padding-left: 5px;
    width: 100%;
    border: 0;
  }
}

.explanation {
  color: $tn-dark-grey;
  font-style: italic;
  font-size: $tn-font-small;
}

label, input[type=text], input[type=password], textarea, .explanation, h4.box-label {
  margin: 2px 0;
}

textarea {
  resize: vertical;
  height: 180px;
}

label, h4.box-label {
  color: $tn-box-label;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $tn-font-small;
  line-height: 18px;
}

input[type=text], input[type=password] {
  height: 40px;
  font-size: $tn-font-large;
}

.tn-checkbox {
  @include styled-checkbox;
  opacity: 0;
}

.tn-checkbox-right {
  @include styled-checkbox($float: right);
}

.tn-checkbox-left {
  @include styled-checkbox($float: left);
}

.fields .box, form .box {
  margin-bottom: 15px;
  background: #fff;

  .content, .form-group {

    @include media($mobile-breakpoint) {

      button {
        margin-bottom: 5px;
      }
    }

    padding: 10px;
  }

  input[type=text], input[type=password] {
    padding: 0;
    height: auto;
    color: $tn-dark-grey;
    font-weight: bold;
    font-size: $tn-font-small;

    &:focus {
      outline: none;
      border: 0;
    }
  }

  label {
    color: $tn-label;
    font-size: $tn-font-small;
    line-height: 18px;
  }

  hr {
    border: 1px solid $tn-light-grey;
  }

  .delete-link {
    display: block;
    color: $tn-dark-grey;
    text-align: right;
    text-transform: uppercase;
    font-size: $tn-font-small;
  }
}

.fields .box, form .box, .modal-body {

  .form-group {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .form-group.inline {
    margin: 3px 0;

    input[type=checkbox], input[type=text] {
      float: right;
    }

    label.holder {
      display: block;
      float: none;

      span {
        float: left;
      }
    }
  }

  .form-group.bordered {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid $tn-light-grey;
  }
}

.fields.large {

  input[type=text], textarea {
    padding: 3px 5px;
  }

  .select2-container {
    background: $tn-white;
    padding: 3px 5px;
    height: 40px;
    font-size: $tn-font-large;
    line-height: 34px;

    a.select2-choice {
      color: $tn-black;
    }

    .select2-arrow {
      line-height: 34px;
      padding-top: 5px;
    }

    &.select2-dropdown-open {
      padding: 0;
      background: transparent;
      height: auto;
    }
  }
}

.nested-fields {
  margin: 0 0 15px;
}
