form {
  position: relative;
  padding-top: $default-spacing/2;

  .form-field {
    margin-bottom: $default-spacing;
  }

  .form-label {
    @extend .label;
    display: block;
    margin-bottom: $default-spacing/3;
  }

  .panel {
    .form-field {
      &:last-of-type {
        margin-bottom: $default-spacing/2;
      }
    }
    label {
      display: block;
      margin-bottom: $default-spacing/3;
      color: $panel-label-color;
    }
  }

  [type=text],
  [type=email],
  [type=password],
  [type=number],
  textarea,
  .editable-text,
  select {
    @include default-transition;
    @include font-size-smaller;
    @include appearance(none);
    line-height: normal;
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid $light-border-color;
    border-radius: 0;
    background: transparent;

    &:focus {
      border-color: $primary-color;
    }

    &.stacked {
      margin-bottom: $default-spacing / 4;
    }
  }

  textarea,
  .editable-text {
    @include font-size-smaller;
    height: auto;
    min-height: 34px;
    padding-left: $default-spacing / 2;
    border-left: 1px solid $light-border-color;
  }

  .required {
    &:after {
      display: inline-block;
      width: $dot-size;
      height: $dot-size;
      margin-left: 5px;
      content: "";
      vertical-align: middle;
      border-radius: 50%;
      background: $required-color;
    }
  }
  .explanation {
    @include font-size-smallest;
    padding-top: $default-spacing / 4;
    color: $light-fg-color;
  }

  .title {
    @include font-sans-n4;
    @include font-size-h3;
    border: 0;
  }
}
