form {
  position: relative;

  .form-field {
    margin-bottom: $default-spacing;
  }

  [type=text],
  [type=email],
  [type=password],
  [type=number],
  textarea,
  .editable-text,
  select {
    @include default-transition;
    @include font-size-smaller;
    @include appearance(none);
    width: 100%;
    display: block;
    border: 0;
    border-bottom: 1px solid $light-border-color;
    padding: 0;
    height: 34px;
    line-height: normal;
    border-radius: 0;
    background: transparent;

    &:focus {
      border-color: $primary-color;
    }

    &.stacked {
      margin-bottom: $default-spacing / 4;
    }
  }

  textarea,
  .editable-text {
    @include font-size-smaller;
    height: auto;
    min-height: 34px;
    border-left: 1px solid $light-border-color;
    padding-left: $default-spacing / 2;
  }

  .required {
    &:after {
      display: inline-block;
      margin-left: 5px;
      border-radius: 50%;
      width: $dot-size;
      height: $dot-size;
      background: $required-color;
      vertical-align: middle;
      content: '';
    }
  }
  .explanation {
    @include font-size-smallest;
    color: $light-text-color;
    padding-top: $default-spacing / 4;
  }

}

