header .header-tool.header-menu, nav .header-tool.header-menu {
  position: relative;
  width: 200px;
  text-transform: uppercase;
  line-height: 40px;
  a {
    display: block;
    padding: 5px $tn-padding;
    i {
      float: right;
      line-height: 40px;
    }
    &:hover {
      background-color: transparentize(#fff, 0.6);
      text-decoration: none;
    }
  }
  ul {
    position: absolute;
    left: -1px;
    z-index: $tn-z-header-menu;
    display: none;
    margin: 0;
    padding: 0;
    width: 201px;
    border: 1px solid $tn-med-grey;
    background: $tn-white;
    list-style: none;
    i {
      float: right;
    }
    li {
      float: none;
      margin: 0;
      padding: 0;
      width: 200px;
      height: 50px;
      border-top: 1px solid $tn-med-grey;
      &:first-child {
        border-top: 0;
      }
      a {
        display: block;
        height: 50px;
        color: $tn-black;
        line-height: 40px;
      }
    }
  }
  &.active {
    ul {
      display: block;
    }
  }
}

nav .header-tool.header-menu ul {
  border-top: 0;
}

header .header-tool.header-menu a {
  color: $tn-black;
}
