.tenon-login {

  @include media($mobile-breakpoint) {
    padding: 10px 0;
    min-height: 100%;
    height: auto;

    form {
      width: 90%;
    }
  }

  @include media($tablet-breakpoint) {
    padding-top: 150px;

    form {
      width: 448px;
    }
  }

  width: 100%;
  height: 100%;
  background: image-url('tenon/noise.png') $tn-client-color;

  form {
    margin: 0 auto;
    padding: 24px 0;
    border: 1px solid $tn-dark-grey;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 5px darken($tn-client-color, 10%);
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  label {
    display: block;
  }

  .row {
    padding: 12px 24px;

    &.bordered {
      border-top: 1px solid $tn-med-grey;
    }
  }

  .logo {
    display: inline-block;

    img {
      height: 64px;
    }
  }

  .title {
    float: right;
  }

  .alert {
    margin: 0;
    padding: 6px 24px;
    background: #f8ffb9;
    color: $tn-dark-grey;
    text-transform: uppercase;
    font-size: 12px;
  }

  .bottom {
    padding: 12px 24px;
  }

  .remember {
    display: inline-block;
    vertical-align: middle;

    label {
      display: inline;
    }
  }

  input[type=text], input[type=password] {
    width: 100%;
    border: 0;

    &:-webkit-autofill {
      padding: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  input[type=submit] {
    float: right;
  }
}