@import "./main-nav/app-info";
@import "./main-nav/links";

.main-nav {
  @include transform(translate(-$main-nav-width, 0));
  @include font-size-smaller;
  position: fixed;
  z-index: $z-layout-main-nav;
  top: $util-nav-height;
  left: 0;
  width: $main-nav-width;
  height: 100%;
  color: $main-nav-fg-color;
  border-right: 1px solid $light-border-color;
  box-shadow: inset -4px 1px 9px -6px rgba(0, 0, 0, .46);
}

.nav-pusher {
  position: relative;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.main-nav-open {
  .main-nav {
    @include transform(translate(0, 0));
  }

  .nav-pusher {
    left: $main-nav-width;
    width: calc(100% - #{$main-nav-width});
  }
}
