.panel {
  @include z-depth-1;
  position: relative;
  border-radius: $default-border-radius;
  background-color: $panel-bg-color;
  padding: $default-spacing;
  margin-bottom: $default-spacing;

  .btn-floating {
    position: absolute;
    right: $default-spacing;
    top: -$btn-floating-size / 2;
  }

  &.with-btn-floating {
    top: $btn-floating-size / 2;
  }
}
