#quick-search-toggle {
  @include transition(all 0.2s ease);

  &.open {
    background-color: $tn-highlight;
    @include transition(all 0.2s ease);
  }
}

.toolbox #quick-search-container {
  padding: $tn-padding;
  display: none;
  &.open {
    display: block;
  }

  input[type=text] {
    outline: none;
  }
}
