.quick-search {

  @include placeholder {
    color: $tn-label;
  }

  padding-left: 20px;

  input[type=text] {
    @include transition(width 0.25s ease);
    width: 70px;

    &:focus {
      width: 250px;
      outline: none;
    }
  }

  i {
    padding-right: 20px;
  }
}

input.filter {
  // position: absolute;
  top: 20px;
  right: 20px;
  padding-left: 10px;
  border: 0;
}