ul.record-list {
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    margin-bottom: 2px;
    ul {
      margin: 10px 0 0;
      padding: 0 10px;
      list-style: none;
      &:last-child {
        padding-bottom: 0;
      }
      li {
        border-top: 1px solid $tn-light-grey;
        border-bottom: 0;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    &.top:last-child {
      border-bottom: 0;
    }
    &.loader {
      background: $tn-light-grey;
      color: $tn-dark-grey;
      text-align: center;
    }

    &:hover > .record-actions, &:hover .record-fields {
      opacity: 1;
    }
  }
  a {
    color: $tn-black;
  }
  .record-details {
    padding: 0 0 10px 10px;
    background-color: #fff;
    &:hover > .record-actions {
      opacity: 1;
    }
    .record-title {
      word-wrap: break-word;
      padding-top: 10px;
    }
    .record-fields {
      @include transition(opacity 0.2s ease);
      padding: 10px 10px 0 0;
      width: 100%;
      @include clearfix;
      color: $tn-black;
      font-size: $tn-font-small;
      text-transform: uppercase;
      @include media($tablet-breakpoint) {
        opacity: 0.5;
      }
    }
    .record-actions {
      @include transition(opacity 0.2s ease);
      @include clearfix;
      @include media($tablet-breakpoint) {
        opacity: 0.25;
      }

      float: right;
      text-align: right;
      a {
        margin: 0;
        padding: 10px 5px;
        display: block;
        float: right;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.sortable li {
    cursor: move;
  }
  span.nester {
    display: inline-block;
    width: 20px;
  }
  &.nested {
    background: none;
    li {
      background: none;
    }
    .nested-record-info {
      background: none;
      .record-details {
        height: auto;
        background-color: #fff;
      }
    }
    ul.subpages {
      padding-right: 0;
      li.subpage {
        margin-bottom: 0;
        padding-left: 30px;
        background: none;
        .nested-record-info {
          background: $tn-off-white;
        }
      }
    }
    li ul {
      margin: 1px 0 0;
    }
    .nested-record-info:hover > .record-actions {
      opacity: 1;
    }
  }
}

.record-list.with-thumbnail {
  li {
    min-height: 100px;
    background-color: #fff;
  }
  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .record-details {
    margin-left: 100px;
    min-height: 100px;
    &:hover > .record-actions {
      opacity: 1;
    }
  }
}

.infinite-loader {
  display: none;
  margin: $tn-margin auto;
  padding: 5px $tn-padding;
  width: 200px;
  text-align: center;
  &.open {
    display: block;
  }
}
