ul.record-grid {
  margin: 0;
  padding: 0;
  background: #fff;
  list-style: none;

  li {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 200px;
    background: #fff;

    .header {
      display: none;
    }

    .thumbnail, .thumbnail img {
      @include fill_parent;
      // width: 200px;
      // height: 200px;

    }

    .loader {
      float: none;
      clear: both;
      margin-right: 16px;
      width: 100%;
      background: $tn-light-grey;
      color: $tn-dark-grey;
      text-align: center;
    }
  }

  a {
    color: $tn-black;
  }

  i {
    font-size: 20px;
  }

  .record-title {
    overflow: hidden;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .record-actions {
    @include transition(opacity 0.2s ease-in-out);
    padding: 0;
    text-align: right;

    a {
      display: inline-block;
      padding: 5px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main-content.with-fixed-grid {
  margin-right: 0;
}
