@mixin column($num-columns: 3) {
  width: 100% / $num-columns;
  &:nth-of-type(n) {
    // border-right: $tn-padding solid transparent;

  }
  &:nth-child(#{$num-columns}n + #{$num-columns}) {
    // border-right: 0;

  }
}

ul.record-grid {
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    @include media($mobile-breakpoint) {
      @include column(2);
    }

    @include media($tablet-breakpoint) {
      @include column(3);
    }

    @include media($laptop-breakpoint) {
      @include column(5);
    }

    @include media($desktop-breakpoint) {
      @include column(6);
    }

    position: relative;
    display: inline-block;
    float: left;
    margin-bottom: $tn-margin;
    padding-right: $tn-padding;
    background-color: transparent;
  }
  .thumbnail {
    img {
      display: block;
      width: 100%;
    }
  }
  a {
    color: $tn-black;
  }
  .record-details {
    background-color: #fff;
    &:hover > .record-actions {
      opacity: 1;
    }
  }
  .record-title {
    overflow: hidden;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
  .record-fields {
    @include clearfix;
    padding: 0 10px 10px;
    width: 100%;
    color: $tn-dark-grey;
    text-transform: uppercase;
    font-size: $tn-font-small;
  }
  .record-actions {
    @include clearfix;
    @include transition(all 0.2s ease);
    @include media($tablet-breakpoint) {
      opacity: 0.25;
      &:hover {
        opacity: 1;
      }
    }

    a {
      display: block;
      float: left;
      padding: 10px 0;
      width: 25%;
      text-align: center;
      &:hover {
        @include transition(all 0.2s ease);
        background-color: $tn-highlight;
        text-decoration: none;
      }
    }
  }
}

.infinite-loader {
  display: none;
  margin: $tn-margin auto;
  padding: 5px $tn-padding;
  width: 200px;
  text-align: center;
  &.open {
    display: block;
  }
}
