header {

  @include media($mobile_breakpoint) {
    position: static;
    top: 0;
    padding-left: 0px;
  }

  @include media($tablet_breakpoint) {
    position: fixed;
    top: 50px;
    padding: 0px 0px 0px 250px;

  }
  left: 0px;
  z-index: 997;
  width: 100%;
  border-bottom: 1px solid $tn-med-grey;
  background: $tn-light-grey;
  color: $tn-slate;
  font-size: 12px;

  h1 {
    float: left;
    margin: 0;
    padding: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

  .tools {
    @include media($mobile_breakpoint) {
      float: none;
      clear: both;
      border-top: 1px solid $tn-med-grey;
      border-left: none;
    }

    @include media($tablet_breakpoint) {
      float: right;
      // padding-right: 12px;
    }

    position: relative;

    input[type=text] {
      height: 50px;
      display: inline-block;
      margin: 0;
      padding: 0 0 0 20px;
      border: none;
      background: none;
      color: $tn-label;
      font-size: 12px;
      line-height: 30px;
    }
  }

  .header-tool {

    @include media($mobile_breakpoint) {
      // margin-right: 5px;
      // margin-left: 0;
      border-right: 1px solid $tn-med-grey;
      border-left: 0;
    }

    float: left;
    padding: 0;
    height: 50px;
    border-left: 1px solid $tn-med-grey;
    vertical-align: middle;
    font-size: 20px;
    color: $tn-label;

    i {
      color: $tn-label;
    }

    a {
      display: inline-block;
      height: 50px;
      width: 100%;
      color: $tn-label;
      padding: 11px 20px 0 20px;

      &:hover {
        text-decoration: none;
        background-color: $tn-primary;
        color: white;

        i {
          color: white;
        }
      }
    }
    // &:last-child {
    //   margin-right: 0px;
    // }


  }
}