header {

  @include media($mobile-breakpoint) {
    position: static;
    top: 0;
    padding-left: 0;
  }

  @include media($tablet-breakpoint) {
    position: fixed;
    top: 50px;
    padding: 0 0 0 250px;
  }

  left: 0;
  z-index: 997;
  width: 100%;
  border-bottom: 1px solid $tn-med-grey;
  background: $tn-light-grey;
  color: $tn-slate;
  font-size: 13px;

  h1 {
    float: left;
    margin: 0;
    padding: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

  .tools {

    @include media($mobile-breakpoint) {
      float: none;
      clear: both;
      border-top: 1px solid $tn-med-grey;
      border-left: 0;
      padding-left: 12px;
    }

    @include media($tablet-breakpoint) {
      float: right;
    }

    position: relative;

    input[type=text] {
      display: inline-block;
      margin: 0;
      padding: 0 0 0 16px;
      height: 50px;
      border: 0;
      background: none;
      color: $tn-label;
      font-size: 12px;
      line-height: 30px;
    }
  }

  .header-tool {

    @include media($mobile-breakpoint) {
      border-right: 1px solid $tn-med-grey;
      border-left: 0;
    }

    float: left;
    padding: 0;
    height: 50px;
    border-left: 1px solid $tn-med-grey;
    vertical-align: middle;
    font-size: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}