table {
  width: 100%;

  th {
    text-align: left;
  }

  th, td {
    padding: 5px;
  }

  td {
    border-top: 1px solid $tn-grey;
  }

  tr.alt td, &.hoverable tr:hover td {
    background: $tn-light-grey;
  }
}
