.tenon-library-holder {
  display: none;
}

.tenon-library {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      @include media($mobile-breakpoint) {
        width: 100%;

        img {
          width: 40px;
        }
      }

      @include media($tablet-breakpoint) {
        width: 50%;

        img {
          width: 80px;
        }
      }

      display: inline-block;
      float: left;
      border: 1px solid $tn-light-grey;
      background-color: #fff;
      color: #fff;

      p {

        @include media($mobile-breakpoint) {
          top: 20px;
          left: 80px;
        }

        @include media($tablet-breakpoint) {
          top: 13px;
          left: 120px;
        }

        position: absolute;
        margin: 0;
        padding-right: 140px;
        width: 100%;
        line-height: 27px;
      }

      a {
        position: relative;
        float: left;
        padding: 20px;
        width: 100%;
        color: $tn-label;
        font-size: 18px;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background-color: $tn-primary;

        a {
          color: #fff;
        }
      }
    }
  }
}