.tn-tc-wrap {
  .tn-tc-sizes {
    display: none;
  }
  &.mobile-breakpoint {
    .one, .two, .three, .four, .five, .six,

    .seven, .eight, .nine, .ten, .eleven, .twelve {
      @include span-columns(12);
    }
    .wrapped-image {
      &.left, &.right {
        float: none;
        padding: 0;
      }
    }
  }
}

.tn-tc-main-actions {
  a {
    @include transition(all 0.2s ease);
    margin: $tn-margin $tn-margin 0 0;
    text-transform: uppercase;
    font-size: $tn-font-large;
    span {
      position: relative;
      top: -2px;
      padding-left: 5px;
      font-size: $tn-font-small;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.tenon-content {
  margin-top: $tn-margin;
  // @import "variables";
  // @import "styleguides/styleguide";
  // @extend body;
  .tn-tc-row {
    @include transition(box-shadow 0.2s ease-in);
    @include transition(border 0.2s ease-in);
    margin-bottom: 10px;
    padding: 0;
    min-height: 50px;
    &.ui-sortable-helper {
      overflow: hidden;
      box-sizing: content-box;
      padding: 5px 10px;
      max-height: 200px;
      border: 1px solid $tn-dark-grey;
      background: $tn-light-grey;
      box-shadow: 1px 1px 5px $tn-dark-grey;
    }
    &.sortable-placeholder {
      min-height: 50px;
      max-height: 200px;
      border: 1px dashed $tn-dark-grey;
    }

    .tn-tc-bottombar {
      display: none;
    }
  }
  .tn-tc-row {
    position: relative;
  }
  .drag-anchor {
    float: left;
  }

  .tn-tc-topbar, .tn-tc-bottombar {
    padding: 0;
    // background-color: $tn-med-grey;
    .actions {
      @include transition(all 0.2s ease);
      color: $tn-dark-grey;
      text-align: right;
      position: relative;
      i {
        @include transition(all 0.2s ease);
      }
      a {
        @include transition(all 0.2s ease);
        display: inline-block;
        padding: 10px 0 5px;
        color: $tn-dark-grey;
        span {
          position: relative;
          top: -2px;
          display: inline-block;
        }
      }
      a.tn-tc-open-library {
        @include transform(translate(-50%, 0));
        position: absolute;
        top: 0;
        left: 50%;
        text-transform: uppercase;
        span {
          font-size: $tn-font-small;
        }
      }
      a:hover {
        text-decoration: none;
      }
      .drag-anchor {
        float: left;
        padding: 10px 0 5px;
        cursor: move;
      }
    }
  }
  .tn-tc-row:hover {
    &:hover {
      .tn-tc-topbar, .tn-tc-bottombar {
        color: $tn-black;
        a {
          color: $tn-black;
        }
        i {
          color: $tn-black;
        }
      }
    }
    .tn-tc-topbar, .tn-tc-bottombar {
      opacity: 1;
    }
  }
  .tn-tc-fields {
    @include outer-container;
    min-height: 20px;
  }
  > div {
    min-height: 100%;
  }
  .editable-text {
    padding: 5px;
    min-height: 50px;
    outline: none;
    background: #fff;
    p {
      margin-top: 0;
      padding-top: 0;
    }
  }
  a.add-image {
    span {
      display: block;
      height: 200px;
      border: 4px dashed $tn-dark-grey;
      background: $tn-med-grey;
      color: $tn-dark-grey;
      text-align: center;
      font-family: $tn-open-sans;
      line-height: 200px;
    }
  }
  .wrapped-image {
    @include media($mobile-breakpoint) {
      &.left, &.right {
        float: none;
        padding: 0;
      }
    }

    &.left {
      float: left;
      padding: 5px 10px 0 5px;
    }
    &.right {
      float: right;
      padding: 5px 5px 0 10px;
    }
  }
  .medium-editor-placeholder {
    position: static;
  }
  .medium-editor-placeholder:after {
    position: static;
    display: none;
  }
  .asset-field img {
    width: 100%;
  }
  .image {
    position: relative;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  textarea.caption, div.tn-tc-caption {
    margin: 0;
    padding: 5px;
    width: 100%;
    background: $tn-dark-grey;
    color: #fff;
    font-size: $tn-font-small;
    resize: none;
  }
  textarea.caption:-moz-placeholder {
    color: #fff;
  }
  textarea.caption::-webkit-input-placeholder {
    color: $tn-light-grey;
  }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
    @include transition(width 0.2s ease);
  }
}

.tn-tc-templates {
  display: none;
}

.wrapped-image-with-text {
  .editable-text {
    min-height: 200px;
  }
}

.image-and-text {
  > div {
    height: 100%;
  }
}

.image-controls {
  @include transition(none);
  &.full-width-image, &.three-column-image, &.four-column-image {
    .grow-image, .shrink-image, .swap-sides {
      display: none;
    }
  }
  button:active, button:focus {
    outline: none;
    background: lighten($tn-primary, 10%);
  }
}

[contenteditable=true]:empty:not(:focus):before {
  color: $tn-med-grey;
  content: attr(data-placeholder);
}

a.open-embed-modal {
  @include transition(all 0.2s ease);
  display: block;
  padding: 5px 0;
  color: $tn-dark-grey;
  text-transform: uppercase;
  font-size: $tn-font-small;
}

.tn-tc-row:hover a.open-embed-modal {
  color: $tn-black;
}

.embed {
  clear: both;
}

.edit-embed-code {
  display: none;
  textarea {
    width: 100%;
  }
}

.modal .edit-embed-code {
  display: block;
}
