.toolbox {
  display: block;
  position: relative;
  background-color: $tn-highlight;
  ul {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    background-color: #fff;
    list-style: none;
    & > li {
      @include transition(all 0.2s ease);
      position: relative;
      padding: 4px;
      height: 50px;
      input[type=text] {
        @include placeholder {
          color: $tn-dark-grey;
          font-size: $tn-font-small;
        }
        line-height: 20px;
        padding: 0 10px;
        width: 100%;
        margin: 0;
        height: 40px;
        border: 0;
        font-size: $tn-font-normal;
      }
    }
  }
}
