// Default Text Styles
// ------------------------------------
html,
body {
  @include font-sans-n4;
  color: $primary-text-color;
  font-size: $default-font-size * 1px; // required for rem
  line-height: 30px;
}

// Links
// ------------------------------------
a {
  text-decoration: none;
  color: $link-color;
  &:hover { text-decoration: underline; }
}

// Default typography
// ------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  margin: 0 0 $default-spacing / 2;
}

h1,
.h1 {
  @include font-sans-n3;
  @include font-size-h1;
}

h2,
.h2 {
  @include font-sans-n3;
  @include font-size-h2;
}

h3,
.h3 {
  @include font-sans-n3;
  @include font-size-h3;
}

h4,
.h4 {
  @include font-sans-n4;
  @include font-size-h4;
}

h5,
.h5 {
  @include font-sans-n6;
  @include font-size-h5;
}

h6,
.h6 {
  @include font-sans-n6;
  @include font-size-h6;
}

blockquote {
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: $default-spacing;
}

small {
  @include font-size-smallest;
}

strong {
  @include font-sans-n6;
}

em {
  @include font-sans-i4;
}

