.modal.modal--fixed-footer
  .modal__content
    .explanation
      Choose a draft to load from the list below.  Loading a draft will open it
      but it will not overwrite the active version of your item until you
      press Save.
    #item-version-index
      = react_component 'Tenon.RI.StandaloneList',
        title: 'Item Versions',
        recordsPath: list_item_versions_path(format: 'json', item_type: params[:item_type], item_id: params[:item_id]),
        newPath: new_item_version_path,
        childComponentNames: { Record: 'ItemVersionRecord' }

  .modal__footer
    %button.modal__action{ data: { modal_close: true } } Cancel
