.modal-body
  = t('tenon.item_versions.choose_a_draft')

  .asset-list-scroller
    %ul.record-list#item_versions{data: {records: {url: item_versions_path(format: 'json', item_type: params[:item_type], item_id: params[:item_id]), template: 'tenon/templates/item_versions/item_version_row', name: 'item_version'}}}

    = link_to t('tenon.item_versions.load_other_drafts'), '#', :class => 'btn btn-comp infinite-loader', 'data-record-list' => '#item_versions'
