= form_for @item_version, builder: Tenon::FormBuilder, html: { class: 'modal modal--thin' } do |f|
  .modal__content
    = f.text_field :title
    = f.hidden_field :item_type
    = f.hidden_field :item_id


  .modal__footer
    %button.modal__action{ type: 'submit' } Save Draft
    %button.modal__action{ type: 'button', data: { modal_close: true } } Cancel
