.record-expanded {
  display: none;
  padding-top: $default-spacing/3;
  .actions {
    position: relative;
    border-top: 1px solid $light-border-color;
    .action-text {
      margin-right: $default-spacing;
    }
  }
}
