.dropdown-content {
  @include z-depth-1;
  position: absolute;
  z-index: $z-kebab-dropdown;
  display: none;
  overflow-y: auto;
  min-width: 200px;
  max-height: 650px;
  margin: 0;
  opacity: 0;
  background-color: $dropdown-bg-color;

  will-change: width, height;

  li {
    clear: both;
    width: 100%;
    min-height: $dropdown-item-height;
    cursor: pointer;
    text-align: left;
    text-transform: none;
    color: $dropdown-fg-color;

    &.dropdown-label {
      @include font-size-smaller;
      min-height: 0;
      margin-bottom: 0;
      padding: $default-spacing / 4 $default-spacing / 2;
      &:hover {
        background: none;
      }
    }

    &:hover, &.active, &.selected {
      background-color: $dropdown-hover-bg-color;
    }

    &.active.selected {
      background-color: darken($dropdown-hover-bg-color, 5%);
    }

    &.divider {
      height: 1px;
      min-height: 0;
      background: $light-border-color;
    }

    & > a, & > span {
      @include font-size-smaller;
      line-height: $dropdown-item-height;
      display: block;
      padding: 0 $default-spacing / 2;
      color: $dropdown-fg-color;
    }

    a:hover {
      text-decoration: none;
    }

    & > span > label {
      top: 1px;
      left: 3px;
      height: 18px;
    }

    // Icon alignment override
    & > a > i {
      @include font-size($h4-size);
      display: inline-block;
      overflow: hidden;
      width: 22px;
      margin-right: $default-spacing / 2;
      text-align: center;
      vertical-align: middle;
    }
  }
}
