// Flash messages
.flash {
  @include z-depth-1;
  position: absolute;
  z-index: $z-flash-message;
  top: $util-nav-height;
  width: 100%;
  padding: $default-spacing/3 $default-spacing;
  h2 {
    display: none;
  }
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    @include font-small;
    margin: 0 $default-spacing;
    padding: $default-spacing/2 0;
    li {
    }
  }
  &.flash {
    color: $warning-text-color;
    background: $warning-background-color;
  }
  &.flash-warning {
    color: $warning-text-color;
    background: $warning-background-color;
  }
  &.flash-error {
    color: $error-text-color;
    background: $error-background-color;
  }
  &.flash-notice {
    color: $success-text-color;
    background: $success-background-color;
  }
}

.errorExplanation {
  @extend .flash;
  @extend .flash-warning;
  margin-bottom: $default-spacing;
}

#flash-dismiss {
  position: absolute;
  top: 0;
  right: $default-spacing;
  padding: $default-spacing/3 0;
  text-align: right;
  color: white;
  i {
    line-height: $default-spacing;
  }
}
