form {
  position: relative;
  padding-top: $default-spacing/2;

  .panel {
    .field-label {
      color: $panel-label-color;
    }
    .form-field {
      &:last-of-type {
        margin-bottom: $default-spacing/2;
      }
    }
  }

  .form-field {
    margin-bottom: $default-spacing;
  }

  .form-title-field {
    @include font-h3;
    border: 0;
  }
}
