#quick-search {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 0;
  &:before {
    @extend .ion;
    @include font-size($h3-size);
    position: absolute;
    z-index: $z-quick-search-actions;
    top: 19px;
    left: $default-spacing/3;
    display: block;
    content: $ionicon-var-android-search;
    color: $quick-search-fg-color;
  }
  .actions {
    z-index: $z-quick-search-actions;
    right: $default-spacing/2;
  }
}

.search-advanced-toggle.action-text {
  top: -1px;
  padding: 2px 8px;
  &:hover {
    text-decoration: none;
    color: $white;
    border-radius: $default-border-radius;
    background-color: $link-color;
  }
}

.toolbar.quick-search-is-active {
  z-index: $z-quick-search-active;
  #quick-search {
    &:before {
      z-index: $z-quick-search-active;
      color: $primary-fg-color;
    }
    .actions {
      z-index: $z-quick-search-active;
      .search-advanced-toggle {
        color: $link-color;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
