.tenon-library-holder {
  display: none;
}

.tenon-library {
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      @include media($bp-sm) {
        width: 100%;

        img {
          width: 40px;
        }
      }

      @include media($bp-md) {
        width: 50%;

        img {
          width: 80px;
        }
      }

      display: inline-block;
      float: left;
      border: 1px solid $light-border-color;
      background-color: #fff;
      color: #fff;

      p {

        @include media($bp-sm) {
          left: 80px;
          padding-right: 100px;
        }

        @include media($bp-md) {
          left: 120px;
          padding-right: 140px;
        }

        top: 13px;
        position: absolute;
        margin: 0;
        width: 100%;
        line-height: 27px;
      }

      a {
        position: relative;
        float: left;
        padding: $default-spacing;
        width: 100%;
        color: $label-color;
        font-size: 18px;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background-color: $primary-color;

        a {
          color: #fff;
        }
      }
    }
  }
}
