.tn-tc-popped-out {
  @include transition(top 0.2s ease);
  position: absolute;
  top: 0;
  left: 0;
  z-index: $tn-z-content-popped;
  overflow: auto;
  min-height: 500px;
  width: 100%;
  height: 100%;

  .tn-tc-popped-out-backdrop {
    @include transition(opacity 0.2s ease);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $tn-z-content-popped-backdrop;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 1;
  }

  &.hidden {
    top: -100%;

    .tn-tc-popped-out-backdrop {
      opacity: 0;
    }
  }

  .tn-tc-sizer {
    position: absolute;
    top: 20px;
    z-index: $tn-z-tc-sizer;
    width: 100%;
  }

  .tn-tc-wrap {
    margin: 0 auto;
    width: 90%;

    &.mobile-breakpoint {

      .tn-tc-sizes {

        a, a.tn-tc-pop-out-close {
          display: block;
          float: left;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .tenon-content {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }

    .tn-tc-sizes {
      display: block;
      overflow: hidden;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $tn-med-grey;

      a {
        display: inline-block;
        margin-right: 5px;
      }

      a.tn-tc-pop-out-close {
        float: right;
        vertical-align: middle;
      }
    }

    .tn-tc-row {
      margin-bottom: 10px;
    }

    .tn-tc-topbar, .tn-tc-bottombar {
      display: none;
    }

    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
      @include transition(none);
    }
  }
}
