.breadcrumbs {
  @extend %truncate;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: $default-spacing * 2.5;
  width: $main-nav-width;
  height: $util-nav-height;
  line-height: $util-nav-height;
}

.breadcrumbs__item {
  @extend %truncate;
  width: auto;
  height: $util-nav-height;
  line-height: $util-nav-height;
  color: $toolbar-fg-color;
}

.breadcrumbs__link,
.breadcrumbs__separator {
  height: $util-nav-height;
  line-height: $util-nav-height;
  color: $toolbar-fg-color;
}

.breadcrumbs__separator {
  position: relative;
  top: 6px;
  margin: 0 6px;
  &:last-of-type > & { display: none; }
}
