.breadcrumbs {
  @extend %truncate;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: $default-spacing * 2.5;
  width: $main-nav-width - ($default-spacing * 3.5);
  height: $util-nav-height;
  line-height: $util-nav-height;
}

.breadcrumbs__item {
  @extend %truncate;
  display: block;
  float: left;
  width: auto;
  height: $util-nav-height;
  line-height: $util-nav-height;
  color: $toolbar-fg-color;

  &::after {
    @extend %material-icon;
    display: inline;
    position: relative;
    top: 6px;
    margin: 0 6px;
    height: $util-nav-height;
    color: $toolbar-fg-color;
    content: 'keyboard_arrow_right';
    box-sizing: border-box;
  }

  &:last-child::after {
    display: none;
  }
}

.breadcrumbs__link {
  height: $util-nav-height;
  line-height: $util-nav-height;
  color: $toolbar-fg-color;

  &:hover {
    text-decoration: none;
    color: $toolbar-fg-color;
  }
}
