.btn {
  @extend %z-depth-1;
  @extend %font-smaller;
  @include default-transition;
  display: inline-block;
  position: relative;
  border: 0;
  border-radius: $default-border-radius;
  background-color: $btn-primary-bg-color;
  padding: 0 $default-spacing;
  height: $btn-height;
  text-align: center;
  text-transform: uppercase;
  line-height: $btn-height;
  color: $btn-secondary-fg-color;

  &:hover {
    @extend %z-depth-2;
    text-decoration: none;
    color: $btn-primary-fg-color;
  }
}

// flat
.btn--flat {
  @extend %z-depth-0;

  &:hover {
    @extend %z-depth-0;
  }
}

// colors
.btn--secondary {
  background-color: $btn-secondary-bg-color;
}

.btn--white {
  background-color: rgba($white, .9);
  color: $btn-primary-bg-color;

  &:hover {
    background-color: rgba($white, 1);
    color: $btn-primary-bg-color;
  }
}

// full width
.btn--block {
  display: block;
  width: 100%;
}
