.drawer-pusher {
  @include drawer-transition;
  position: relative;
  left: 0;
  width: 100%;
  min-height: 100vh;

  .drawer-open &,
  .filter-drawer-open &,
  .main-nav-drawer-open &,
  .main-nav-drawer-pref-open & {
    @include bp-md {
      left: $main-nav-width;
      width: calc(100% - #{$main-nav-width});
    }
  }
}
