.dropdown {
  @extend %z-depth-2;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: $z-dropdown;
  margin: 0;
  background-color: $dropdown-bg-color;
  width: auto;
  min-width: 200px;
  max-height: 650px;
  overflow-y: auto;
  will-change: width, height;
}

.dropdown--is-active {
  visibility: visible;
  opacity: 1;
}

.dropdown__divider {
  background: $light-border-color;
  height: 1px;
  min-height: 0;
}

.dropdown__item {
  @extend %font-smaller;
  display: block;
  clear: both;
  cursor: pointer;
  min-height: $dropdown-item-height;
  text-align: left;
  text-transform: none;
  line-height: $dropdown-item-height;
  color: $dropdown-fg-color;
}

.dropdown__item--label {
  border-bottom: 1px solid lighten($light-border-color, 10%);
  padding: 0 ($default-spacing / 2);
  color: lighten($dropdown-fg-color, 10%);
}

.dropdown__action {
  display: block;
  padding: 0 ($default-spacing / 2);
  text-align: left;
  line-height: $dropdown-item-height - 20px;
  color: $primary-fg-color;

  &,
  > span,
  > i {
    display: block;
    height: auto;
    min-height: $dropdown-item-height;
  }

  &,
  > span {
    overflow: hidden;
    zoom: 1;
  }

  > span,
  > i {
    padding: 10px 0;
    line-height: $dropdown-item-height - 20px;
  }

  > i {
    @include font-size($dropdown-icon-size);
    float: left;
    margin-right: 10px;
  }

  &:hover {
    background-color: $dropdown-hover-bg-color;
    text-decoration: none;
    color: $dropdown-hover-fg-color;
  }

  &.--is-active {
    background-color: $dropdown-active-bg-color;
    color: $dropdown-active-fg-color;
  }
}

.dropdown__active-icon {
  display: none;

  .dropdown__action--is-active & {
    display: inline-block;
    margin-left: $default-spacing / 2;
    position: relative;
    top: 3px;
  }

  > i { @include font-size($dropdown-icon-size); }
}
