.fab {
  @extend %z-depth-2;
  @include default-transition;
  @include animation(btn-fab-intro .3s forwards .5s);
  @include transform(scale(0) rotate(-45deg));
  display: inline-block;
  position: relative;
  z-index: $z-fab;
  border: 0;
  border-radius: 50%;
  background-color: $btn-fab-bg-color;
  cursor: pointer;
  padding: 0;
  width: $btn-fab-size;
  height: $btn-fab-size;
  overflow: hidden;
  vertical-align: middle;
  line-height: $btn-fab-size;
  color: $btn-fab-fg-color;

  i {
    @include font-size($btn-fab-icon-size);
    display: inline-block;
    width: inherit;
    text-align: center;
    line-height: $btn-fab-size;
    color: $btn-fab-fg-color;
  }

  &:hover {
    @extend %z-depth-3;
  }
}

// Color
.fab--primary {
  background-color: $primary-color;
}

.fab--white {
  background-color: $btn-fab-fg-color;
  color: $btn-fab-bg-color;

  > i {
    color: $btn-fab-bg-color;
  }
}

// Position
.fab--bottom-right {
  position: fixed;
  right: $default-spacing / 3;
  bottom: $default-spacing / 3;

  @include bp-md {
    right: $default-spacing;
    bottom: $default-spacing;
  }
}

// Animation
@include keyframes(btn-fab-intro) {
  0% {
    @include transform(scale(0) rotate(-45deg));
  }

  100% {
    @include transform(scale(1) rotate(0deg));
  }
}
