// Flash messages
.flash {
  @extend %z-depth-2;
  @extend %font-small;
  @include default-transition;
  @include transform(translateY(calc(100% + #{$default-spacing / 2})));

  position: fixed;
  right: $default-spacing / 2;
  bottom: $default-spacing / 2;
  left: $default-spacing / 2;
  opacity: 0;
  z-index: $z-flash-message;
  border-radius: 10px;
  background: $flash-bg-color;
  padding: $default-spacing;
  color: $flash-fg-color;

  @include bp-md {
    @include transform(translateX(calc(100% + #{$default-spacing})));
    top: $util-nav-height + ($default-spacing / 2);
    right: $default-spacing;
    bottom: auto;
    left: auto;
    width: auto;
    min-width: 335px;
    max-width: 435px;
  }
}

.flash--is-active {
  @include transform(translate(0, 0));
  opacity: 1;
}

.flash--static {
  position: static;
  top: auto;
  z-index: auto;
  margin-bottom: $default-spacing;
}

.flash__action {
  @extend %vertical-align;
  position: absolute;
  right: $default-spacing;
  width: 100px;
  text-align: right;
  text-transform: uppercase;
  color: $flash-emphasis-fg-color;

  &:hover {
    text-decoration: none;
    color: $flash-emphasis-fg-color;
  }

  + .flash__message {
    width: calc(100% - 100px);
  }
}

.flash__message {
  float: left;

  > strong {
    color: $flash-emphasis-fg-color;
    font-weight: normal;
  }
}
