.infinite-loader {
  @extend %font-h3;
  display: none;
  margin: $default-spacing auto;
  text-align: center;
  color: $infinite-loader-color;
}

.infinite-loader--is-visibile {
  display: block;
}

.infinite-loader--is-loading {
  > .material-icon { @include animation(spin .5s linear infinite); }
}
