// main-nav drawer
.main-nav-drawer {
  @extend %font-smaller;
  @extend %drawer;
  z-index: $z-layout-drawer;
  color: $main-nav-fg-color;

  .main-nav-drawer-open & {
    left: 0;
  }
}

// main-nav list
.main-nav__list {
  padding: $default-spacing / 2;
}

.main-nav__item {
  position: relative;
  margin-bottom: 1px;
  border-radius: $default-border-radius;
}

.main-nav__item--active {
  margin: 6px 0;
  background-color: $white;

  > .main-nav__link > i {
    opacity: 1;
    color: $main-nav-icon-color;
  }
}

// main-nav link
.main-nav__link {
  display: block;
  padding: 0 $default-spacing / 2;
  line-height: $default-spacing;
  color: $main-nav-fg-color;

  &:hover {
    text-decoration: none;
  }

  > i {
    @include font-size($main-nav-icon-size);
    opacity: .6;
    margin-right: 10px;
  }
}

// sub-nav
.main-nav__sub-nav {
  display: none;
  .main-nav__item--open & { display: block; }
}

.main-nav__link--sub {
  display: block;
  height: 36px;
  line-height: 36px;

  i,
  span {
    height: 30px;
    line-height: 30px;
  }
}

// sub-nav toggle
.main-nav__link-toggle {
  position: absolute;
  top: $default-spacing / 4;
  right: $default-spacing / 2;
}

.main-nav__open-icon {
  @extend %material-icon;
  display: inline-block;
  color: $main-nav-fg-color;
}

.main-nav__close-icon {
  @extend %material-icon;
  display: none;
  color: $main-nav-fg-color;
}

.main-nav__item--open {
  .main-nav__open-icon {
    display: none;
  }

  .main-nav__close-icon {
    display: inline-block;
  }
}
