.main-nav-toggle {
  @include default-transition;
  position: fixed;
  top: $default-spacing / 2;
  left: $default-spacing;
  z-index: $z-layout-main-nav-toggle;
  width: $default-spacing;
  height: $util-nav-height;
}
