.modal-overlay {
  @include transition(background-color .25s ease, left 0s ease .25s, right 0s ease .25s, bottom 0s ease .25s);
  position: fixed;
  top: 0;
  right: 9999px;
  bottom: 9999px;
  left: -9999px;
  z-index: $z-modal-overlay;
  background: rgba($black, 0);
}

.modal-overlay--is-active {
  @include transition(left 0s, right 0s, bottom 0s, background-color .25s ease);
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($black, .8);
}
