.panel {
  @extend %z-depth-1;
  position: relative;
  background-color: $panel-bg-color;
  overflow: hidden;
  margin-bottom: $default-spacing;
}

.panel--padded {
  padding: ($default-spacing / 2) $default-spacing;
}

.panel--tight-padded {
  padding: $default-spacing / 3;
}

.panel--no-margin {
  margin: 0;
}

.panel__content {
  padding: ($default-spacing / 2) $default-spacing;
}
