.record {
  @extend %z-depth-2;
  @include default-transition;
  position: relative;
  margin-bottom: 1px;
  background-color: $panel-bg-color;
  width: 100%;
  overflow: hidden;

  &:hover {
    @extend %z-depth-2;
  }
}

.record__thumbnail {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
}

.record__details {
  position: relative;
  padding: ($default-spacing / 2) $default-spacing;
}

.record__title {
  @extend %truncate;
  margin: 0;
  color: $body-fg-color;
}

.record__title--smallest {
  @extend %font-smallest;
  margin: 0;
  color: $body-fg-color;
}

.record__actions {
  @include default-transition;
  @include transform-style(preserve-3d);
  position: absolute;
  top: $default-spacing / 2;
  right: 0;
  background-color: $panel-bg-color;
  padding: 0;
  text-align: right;

  @include bp-md {
    opacity: 0;
    right: $default-spacing;
  }

  .record:hover & { opacity: .9; }
}


.record__action-icon {
  display: none;
  margin-right: $default-spacing / 4;
  width: $action-icon-dimension;
  color: $light-fg-color;

  @include bp-md {
    @include transform(translateY(-50%));
    display: inline;
    position: relative;
    top: 50%;
  }

  &:hover { color: $primary-color; }
  &:last-child { margin-right: 0; }
}

.record__action-icon--kebab {
  display: inline;

  @include bp-md { display: none; }
}



.record__expanded-content {
  display: none;
  padding: ($default-spacing / 2) $default-spacing;
}

.record__expanded-title {
  color: $primary-color;
}

.record__expanded-title--smallest {
  @extend %font-smallest;
}

.record__expanded-actions {
  position: relative;
  border-top: 1px solid $light-border-color;
}

.record__expanded-action-text {
  display: inline;
  margin-right: $default-spacing;
}

.record__expand-toggle {
  cursor: pointer;
}

.record--is-expanded {
  margin: 1px -2%;
  width: 104%;
}

.record--is-updating {
  opacity: .25;

  &:hover {
    opacity: .25;
  }
}

.record--card {
  float: left;
  margin: 0 ($default-spacing / 2) ($default-spacing / 2) 0;
  width: calc((100% - (#{$default-spacing / 2})) / 2);

  @include bp-md {
    width: calc((100% - (#{$default-spacing} * 1.5)) / 4);
    &:nth-child(4n+4) { margin-right: 0; }
  }

  @include bp-min {
    &:nth-child(2n+2) { margin-right: 0; }
  }

  .record__actions {
    position: static;
  }

  .record__details {
    padding: $default-spacing / 2;
  }
}
