.search-content {
  position: relative;
}

.search-content__icon {
  display: none;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: $z-quick-search-actions;
  line-height: 40px;
  color: $toolbar-quick-search-fg-color;

  @include bp-md { display: block; }
}

.search-content__field {
  @include default-transition;
  @include font-size($h5-size);
  display: block;
  position: relative;
  z-index: $z-quick-search-input;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: $primary-fg-color;

  @include placeholder {
    @include default-transition;

    @include bp-md {
      color: $white;
    }
  }

  @include bp-md {
    margin-left: 0;
    border-radius: $default-border-radius;
    background-color: $quick-search-input-bg-color;
    padding: 0 ($default-spacing / 3) 0 ($default-spacing * 1.5);
    width: 100%;
    color: $toolbar-quick-search-fg-color;
  }
}
