a.open-embed-modal {
  @include transition(all .2s ease);
  @extend %font-smaller;
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
  color: $primary-fg-color;
}

.tn-tc__row:hover .open-embed-modal {
  color: $primary-fg-color;
}

.embed {
  clear: both;
}

.edit-embed-code {
  display: none;
  textarea {
    width: 100%;
  }
}

.modal .edit-embed-code {
  display: block;
}
