.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-layout-toolbar;
  background-color: $toolbar-bg-color;
  padding: 0 ($default-spacing * 5) 0 $main-nav-width;
  width: 100%;
  height: $util-nav-height;
  overflow: visible;
}

.toolbar__content {
  position: relative;
  padding: 10px ($action-icon-dimension * 3 + 10px) 10px $default-spacing;
}

.toolbar__text {
  margin: 0;
  height: 40px;
  line-height: 40px;
}

.toolbar__actions {
  padding: 8px 0;
  height: $util-nav-height;

  .toolbar__action {
    padding: 0 10px;
  }
}

.toolbar__actions--right {
  position: absolute;
  top: 0;
  right: 0;
}

.toolbar__action {
  display: inline-block;
  height: $action-icon-dimension;
  text-align: center;

  > a {
    color: $toolbar-link-fg-color;

    &:hover {
      color: $toolbar-link-fg-color--hover;
    }
  }
}

.toolbar__action--back {
  position: absolute;
  top: 6px;
  left: $default-spacing;

  i {
    margin-right: 20px;
  }
}

// toolbar overlay depths:
@mixin toolbar-z-index-generator {
  @for $i from 1 through 10 {
    %toolbar--z#{$i} {
      z-index: #{100 + ($i * 10)};
    }
  }
}

@include toolbar-z-index-generator;

@mixin toolbar-overlay-generator {
  %toolbar--overlay {
    @include default-transition;
    opacity: 0;
    height: 0;
    overflow: hidden;
    line-height: $util-nav-height;
  }

  @for $i from 1 through 10 {
    .toolbar--overlay-z#{$i} {
      @extend %toolbar--z#{$i};
      @extend %toolbar--overlay;
      background-color: lighten($primary-color, ($i * 10%));
    }
  }
}

@include toolbar-overlay-generator;

// toolbar overlay is open:
.toolbar--is-open {
  opacity: 1;
  height: $util-nav-height;
}

// toolbar overlay colors:
.toolbar--quicksearch {
  background-color: $toolbar-quicksearch-bg-color;
  color: $toolbar-quicksearch-fg-color;
}

.toolbar--filter {
  background-color: $toolbar-filter-bg-color;
  color: $toolbar-filter-fg-color;
}
