.toolbar {
  @extend %font-n2;
  @include transition(background .25s ease);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-layout-toolbar;
  background-color: $toolbar-bg-color;
  width: 100%;
  height: $util-nav-height;
  overflow: visible;
}

.toolbar__content {
  margin: 0 0 0 $action-icon-dimension;
  padding: 10px 0;
  width: calc(100% - #{$action-icon-dimension * 2});


  @include bp-md {
    margin: 0 auto;
    width: calc(100% - #{($main-nav-width + $default-spacing) * 2});
  }
}

.toolbar__text {
  margin: 0;
  height: 40px;
  line-height: 40px;
}

.toolbar__actions {
  padding: 8px 0;
  height: $util-nav-height;
}

.toolbar__actions--right {
  position: absolute;
  top: 0;
  right: $default-spacing / 3;

  @include bp-md {
    right: $util-nav-width + $default-spacing;
  }

  > .toolbar__action { padding-left: 5px; }
}

.toolbar__actions--left {
  position: absolute;
  top: 0;
  left: $default-spacing / 3;

  @include bp-md {
    left: $default-spacing;
  }

  > .toolbar__action { padding-right: 5px; }
}

.toolbar__action {
  display: block;
  float: left;
  height: $action-icon-dimension;
  text-align: center;
}

.toolbar__action--back {
  position: absolute;
  top: 6px;
  left: $default-spacing;

  i {
    margin-right: 20px;
  }
}

.toolbar__action-icon {
  @extend %action-icon;
  @include transition(color .25s ease);
  color: $toolbar-link-fg-color;

  &:hover {
    color: $toolbar-link-fg-color--hover;
  }
}

// toolbar overlay depths:
@mixin toolbar-z-index-generator {
  @for $i from 1 through 10 {
    %toolbar--z#{$i} {
      z-index: #{100 + ($i * 10)};
    }
  }
}

@include toolbar-z-index-generator;

@mixin toolbar-overlay-generator {
  %toolbar--overlay {
    @include default-transition;
    @extend %z-depth-1;
    height: 0;
    overflow: hidden;
    line-height: $util-nav-height;
  }

  @for $i from 1 through 10 {
    .toolbar--overlay-z#{$i} {
      @extend %toolbar--z#{$i};
      @extend %toolbar--overlay;
      background-color: lighten($primary-color, ($i * 10%));
    }
  }
}

@include toolbar-overlay-generator;

// toolbar overlay is open:
.toolbar--is-open {
  height: $util-nav-height;
}

// toolbar when the quick-search is typing
.toolbar--is-quick-search-typing {
  @include bp-md {
    background: $toolbar-quick-search-bg-color;
  }

  .toolbar__action-icon {
    @include bp-md {
      color: $toolbar-quick-search-fg-color;
    }
  }
}

// toolbar overlay colors:
.toolbar--quick-search {
  background-color: $white;

  @include bp-md {
    display: none;
  }

  .toolbar__action-icon {
    color: $light-fg-color;

    @include bp-md {
      color: $toolbar-quick-search-fg-color;
    }
  }
}

.toolbar--filter {
  background-color: $toolbar-filter-bg-color;
  color: $toolbar-filter-fg-color;
}
