.util-nav {
  padding: 14px 0;
  width: $util-nav-width;
}

.util-nav--in-toolbar {
  display: none;

  @include bp-md {
    display: block;
    position: fixed;
    top: 0;
    right: $default-spacing;
    z-index: $z-layout-util-nav;
  }
}

.util-nav--in-drawer {
  position: fixed;
  bottom: $default-spacing;
  left: $default-spacing;

  @include bp-md {
    display: none;
  }
}

.util-nav__action-icon {
  @extend %z-depth-1;
  @include default-transition;
  display: inline-block;
  float: left;
  margin-left: 10px;
  border-radius: 50%;
  background-color: $avatar-bg-color;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: $avatar-fg-color;

  &:hover {
    @extend %z-depth-2;
    color: $avatar-fg-color;
  }

  > .material-icon { line-height: 32px; }
}
