#search-container {
  position: relative;
  display: inline-block;
  width: calc(100% - #{$default-spacing*6});
  padding: 0 0 0 $default-spacing;
}

#search-overlay.toolbar-overlay {
  background-color: $quick-search-overlay-bg-color;
}

#search {
  .search-icon {
    line-height: $util-nav-height;
    position: absolute;
    z-index: $z-quick-search-actions;
    top: 0;
    left: $default-spacing*(4/3);
    display: block;
    color: $quick-search-fg-color;
  }
  .actions {
    z-index: $z-quick-search-actions;
    right: -$default-spacing*1.5;
  }
}
