= react_component 'ResourceIndexRoot',
    title: 'Posts',
    breadcrumbs: breadcrumb_links,
    recordsPath: posts_path(format: 'json'),
    newPath: new_post_path,
    childComponentNames: {  FilterDrawer: 'PostsFilterDrawer',
                            RecordTitle: 'PostsRecordTitle' }

