.tn-tc-holder{ data: { 'record-type' => object.class.to_s, 'record-id' => object.id, 'field' => field } }
  .tn-tc__rows{id: "#{field}-tenon-content"}
    - object.send("#{field}_tenon_content_rows").decorate.each do |row|
      .tn-tc__row
        .tn-tc-fields= render row.partial, row: row
      .spacer
