$tn-z-modal: 2040;
$tn-z-modal-dialog: 2050;
$tn-z-modal-backdrop: 2030;
$tn-bp-tablet: $bp-md;
$tn-bp-mobile: $bp-sm;
$tn-margin: 16px;
$tn-padding: 16px;
$tn-light-grey: #e2e2e2;
$tn-med-grey: #c2c2c2;
$tn-dark-grey: #878787;
$tn-black: #333;
$tn-font-small: 12px;
$tn-font-large: 16px;
$tn-open-sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$tn-primary: $primary-color;
$tn-z-medium-editor-controls: 2000;
$tn-label: #162433;
$tn-z-content-popped-backdrop: 1020;
$tn-z-content-popped: 1029;
$tn-z-tc-sizer: 1029;
