%section
  %a.scroll-target{name: 'atom-colors'}
  %h3.color-black Colors

  .panel.block
    %h4 Neutral colors
    .styleguide-colors
      .styleguide-color-block
        %span.styleguide-color.bg-color-black
        %label Black
      .styleguide-color-block
        %span.styleguide-color.bg-color-white
        %label White
      .styleguide-color-block
        %span.styleguide-color.bg-color-grey
        %label Grey
      .spacer

    %h4 Base colors
    .styleguide-colors
      .styleguide-color-block
        .styleguide-color.bg-color-primary
        %label Primary
      .styleguide-color-block
        .styleguide-color.bg-color-secondary
        %label Secondary
      .styleguide-color-block
        .styleguide-color.bg-color-accent
        %label Accent
      .spacer

    %h4 Notification colors
    .styleguide-colors
      .styleguide-color-block
        .styleguide-color.bg-color-required
        %label Required
      .styleguide-color-block
        .styleguide-color.bg-color-error
        %label Error
      .styleguide-color-block
        .styleguide-color.bg-color-success
        %label Success
      .styleguide-color-block
        .styleguide-color.bg-color-warning
        %label Warning
      .spacer
