= form_for @mock, url: styleguides_path, builder: Tenon::FormBuilder do |f|
  = render partial: 'tenon/styleguides/atoms/forms/default', locals: {f: f}
  = render partial: 'tenon/styleguides/atoms/forms/outside', locals: {f: f}
  = render partial: 'tenon/styleguides/atoms/forms/html5', locals: {f: f}
  =# render partial: 'tenon/styleguides/atoms/forms/tenon_content', locals: {f: f}
