Tenon.features.comments = {
  init: function () {
    Tenon.features.comments.addApproveToggles();
    Tenon.features.comments.addUnapproveToggles();

    $(".comment-content").on("click", ".toggle", function() {
      var $container = $(this).parent().parent();
      $container
          .find(".short").slideToggle(400).end()
          .find(".long").slideToggle(400).end();
    });

    $('#item-list').on('click', '.destroy', function () {
      var link = $(this);
      if (confirm("Are you sure?")) {
        $.ajax({
          url: link.attr('href'),
          type: 'DELETE',
          success: function() { link.closest('li').fadeOut('fast'); },
          error: function() { alert('Failed to delete comment.'); }
        });
      }
      return false;
    });
  },

  addUnapproveToggles: function () {
    // $(".unapprove").unbind("click");

    $('#item-list').on('click', '.unapprove', function() {
      var link = $(this),
          id = link.attr('id'),
          new_html = '<a href="/tenon/comments/' + id + '/approve" class="approve" data-method="put" id="' + id + '" rel="nofollow"><img alt="Checkmark" src="<%= asset_path 'tenon/icons/thumbup.png' %>" /></a><br/><small><a href="/tenon/comments/' + id + '/approve" class="approve" data-method="put" id="' + id + '" rel="nofollow">Approve</a></small>';

      $.ajax({
        url: link.attr('href'),
        type: 'PUT',
        success: function() {
          link.closest('.item-action').html(new_html);
          $('li.comment#' + link.attr('id') + ' .item-title').css('opacity', '0.5');
        }, error: function() { alert('Failed to unapprove comment.'); }
      });
      return false;
    });
  },

  addApproveToggles: function () {
    // $(".approve").unbind("click");

    $('#item-list').on('click', '.approve', function() {
      var link = $(this);
      var id = link.attr('id');
      var new_html = '<a href="/tenon/comments/' + id + '/unapprove" class="unapprove" data-method="put" id="' + id + '" rel="nofollow"><img alt="Delete" src="<%= asset_path 'tenon/icons/thumbdown.png' %>" /></a><br/><small><a href="/tenon/comments/' + id + '/unapprove" class="unapprove" data-method="put" id="' + id + '" rel="nofollow">Unapprove</a></small>';

      $.ajax({ url: link.attr('href'), type: 'PUT',
        success: function() {
          link.closest('.item-action').html(new_html);
          $('li.comment#' + link.attr('id') + ' .item-title').css('opacity', '1.0');
        }, error: function() { alert('Failed to approve comment.'); }
      })
      return false;
    });
  }

}