Tenon.features.loading = {
  // show the loading img in the specified div
  show: function (div) {
    $(div).html("<div id='loading'><img src='<%= asset_path('tenon/tenon-loader.gif') %>' class='loading' /><br/>Loading...</div>");
  }
}

