.modal.modal--fixed-footer
  .modal__content
    %h2 Choose Asset
    - unless params[:hide_upload]
      #upload-asset
        %h3 From Your Computer
        #progress
        = form_for Tenon::Asset.new, format: 'json', builder: Tenon::FormBuilder do |f|
          = error_messages_for :asset
          .input-block
            %label.btn{ for: 'file-upload' } Browse
            %input#file-upload.upload{ type: 'file', multiple: defined?(multiple) && multiple, style: 'position: absolute; left: -9999px;', name: 'asset[attachment]' }

    %h3 From The Asset Library
    #pick-asset
      = react_component 'StandaloneList',
        title: 'Assets',
        recordsPath: assets_path(format: 'json'),
        newPath: new_asset_path,
        childComponentNames: { List: 'AssetList', Record: 'AssetRecord' }

  .modal__footer
    %a.modal__action{ href: '#!', data: { modal_close: true } } Cancel
