= react_component 'ResourceIndexRoot',
    title: 'Events',
    breadcrumbs: breadcrumb_links,
    recordsPath: events_path(format: 'json'),
    newPath: new_event_path,
    childComponentNames: { Record: 'EventRecord'}
