.action-text {
  @include font-size-smaller;
  line-height: $default-spacing*1.5;
  position: relative;
  height: $default-spacing*1.5;
  text-transform: uppercase;
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}
