// The font-size mixin
// ------------------------------------
$default-font-size: 18;

@mixin font-size($size) {
  // Usage: @include font-size(16);
  font-size: unquote(0 + $size + "px");
  font-size: unquote(0 + ($size / $default-font-size) + "rem");
}

@mixin line-height($line-height, $font-size: $default-font-size) {
  // Usage: @include line-height(24); => uses $default-font-size
  // Usage: @include line-height(40, 24);
  line-height: $line-height / $font-size;
}

@mixin font($font-size, $line-height, $letter-spacing: 0) {
  // Usage: @include font(24, 40);
  @include font-size($font-size);
  @include line-height($line-height, $font-size);
  letter-spacing: $letter-spacing;
}

@mixin font-size-h1 {
  @include font($h1-size, $h1-line-height);
}
@mixin font-size-h2 {
  @include font($h2-size, $h2-line-height);
}
@mixin font-size-h3 {
  @include font($h3-size, $h3-line-height);
}
@mixin font-size-h4 {
  @include font($h4-size, $h4-line-height);
}
@mixin font-size-h5 {
  @include font($h5-size, $h5-line-height);
}
@mixin font-size-h6 {
  @include font($h6-size, $h6-line-height);
}
@mixin font-size-p {
  @include font($default-font-size, 30);
}
@mixin font-size-small {
  @include font($small-size, $small-line-height);
}
@mixin font-size-smaller {
  @include font($smaller-size, $smaller-line-height);
}
@mixin font-size-smallest {
  @include font($smallest-size, $smallest-line-height);
}
