// Web fonts are increasingly coupled with font-styles and weights.
// This format will help clean up stylesheets by defining each possibility once
// and creating mixins and class helpers to help clean up stylesheets.

// Import font(s):
// ------------------------------------
@import '//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic';

// Font variable(s):
// ------------------------------------
$font-sans: 'OpenSans', 'Helvetica Neue', Helvetica, sans-serif;

// Mixins:
// ------------------------------------
@mixin font-sans-n3 {
  font-family: $font-sans;
  font-weight: 300;
}

@mixin font-sans-n4 {
  font-family: $font-sans;
  font-weight: 400;
}

@mixin font-sans-n6 {
  font-family: $font-sans;
  font-weight: 600;
}

@mixin font-sans-i3 {
  font-family: $font-sans;
  font-weight: 300;
  font-style: italic;
}

@mixin font-sans-i4 {
  font-family: $font-sans;
  font-weight: 400;
  font-style: italic;
}

@mixin font-sans-i6 {
  font-family: $font-sans;
  font-weight: 600;
  font-style: italic;
}

@mixin font-icon-n4 {
  font-family: $font-icon;
  font-weight: 400;
}

// Mixin explanation:
// The suffix defines the weight and style:
// font-<font-name><font-style><font-weight>
//    N == normal
//    I == italic
//    4 == normal font-weight (400)
//    6 == semi-bold font-weight (600)

// Example mixin use/class helpers:
// ------------------------------------
.font-sans-n3 { @include font-sans-n3; }
.font-sans-i3 { @include font-sans-i3; }
.font-sans-n4 { @include font-sans-n4; }
.font-sans-i4 { @include font-sans-i4; }
.font-sans-n6 { @include font-sans-n6; }
.font-sans-i6 { @include font-sans-i6; }
