.header-tool.list-style-toggle-holder
  .list-style-toggle
    %a{:href => '#', :class => "enable-list active"}
      %i.fa.fa-th-list.2x
    %a{:href => '#', :class => "enable-grid"}
      %i.fa.fa-th-large.2x
    .spacer