.main-nav > ul {
  $icon-width: $default-spacing / 3 + 22px;

  padding: $default-spacing / 2;

  > li {
    margin-bottom: $default-spacing / 4;
    border-radius: $default-border-radius;
    position: relative;
  }

  > :hover { background-color: rgba($white, 0.35); }

  > .active {
    background-color: $white;
    i { color: $primary-color; }
  }


  a {
    display: block;
    padding: 0 $default-spacing / 2;
    color: $main-nav-fg-color;
    &:hover { text-decoration: none; }
  }

  i {
    @include font-size($h3-size);
    display: inline-block;
    width: $icon-width;
    color: $light-fg-color;
    vertical-align: middle;
  }

  // Subnav
  .nav-item-toggle {
    position: absolute;
    top: 0;
    right: 0;
    i { color: $primary-fg-color; }
  }

  .open .nav-item-toggle i::before {
    content: '\f2f4';
  }

  li ul {
    padding-top: 0;
    display: none;
  }

  .open ul { display: block; }

  li li {
    $horz-padding: $icon-width + $default-spacing / 2;

    a { padding: 0 0 $default-spacing / 4 $horz-padding; }
    &:hover { background: transparent; }
    &:last-child { margin-bottom: 0; }
  }

}
