%hr
%a.scroll-target{name: 'atoms'}

%h2 Atoms
%nav
  %ul
    %li= link_to 'Colors', '#atom-colors'
    %li= link_to 'Color class helpers', '#atom-color-class-helpers'

= render 'tenon/styleguides/atoms/colors'
= render 'tenon/styleguides/atoms/color_helpers'
