//////////////////////////
// CONFIG & BREAKPOINTS //
//////////////////////////

// px == fixed, % == fluid
// These must all be px or %. Mixing them will cause errors

$universal_gutter_width: 20px;
$site_total_columns: 12;

// To prevent page content from touching the edge of the window:
$body_padding: $universal_gutter_width/2;

// Breakpoints:
$max_width:     1280px;   // Must be px
$lg_width:      1024px;   // Must be px
$md_width:      768px;    // Must be px
$sm_width:      400px;    // Must be px
$min_width:     90%;      // Must be % - Will affect everything < bp-sm
$tn_gutter:     2%;       // Must be % - Used for bp-min mixin and all tenon content gutters

// Don't let the app get any narrower than this:
body { min-width: 300px; } // Context: iPhone4 == 320px

////////////////////////////////////////////////////////////////
// YOU PROBABLY DON'T NEED TO CHANGE ANYTHING PAST THIS POINT //
////////////////////////////////////////////////////////////////

// Used for mixin calculations
$container_margin: auto; // auto || px || %

//////////////////////////////////////////////
// BREAKPOINTS:                             //
//////////////////////////////////////////////

$bp_max:  "screen and (min-width: #{$max_width})";
$bp_lg:   "screen and (min-width: #{$lg_width})";
$bp_md:   "screen and (min-width: #{$md_width})";
$bp_sm:   "screen and (min-width: #{$sm_width})";
$bp_min:  "screen and (max-width: #{$sm_width - 1px})";

/////////////////////////////////////////////////////////
// HELPERS: Shorthand media mixins for media queries   //
/////////////////////////////////////////////////////////

@mixin tn-media($mediaQuery) {
  @media #{$mediaQuery} {
    @content;
  }
}

@mixin bp-max {
  @include tn-media($bp_max) {
    @content;
  }
}
@mixin bp-lg {
  @include tn-media($bp_lg) {
    @content;
  }
}
@mixin bp-md {
  @include tn-media($bp_md) {
    @content;
  }
}
@mixin bp-sm {
  @include tn-media($bp_sm) {
    @content;
  }
}

//////////////////////////////////////////////////////////////
// IMPORTS: Once the variables are set, import the mixins   //
//////////////////////////////////////////////////////////////

@import './magic';

///////////////////////////////////////////////
// TENON: Initialize Tenon content columns   //
///////////////////////////////////////////////

$total_columns: 12;
$total_width: 100%;
$gutter_width: $tn_gutter;

@import './tenon';
@include tenon_init;

//////////////////////////////////////////////////
// LAYOUT: these will be carried through each   //
// breakpoint unless otherwise defined.         //
//////////////////////////////////////////////////

$total_columns: $site_total_columns;
$gutter_width: $universal_gutter_width;

.container {
  position: relative;
  box-sizing: border-box;
}

.row {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}

.column {
  position: relative;
  box-sizing: border-box;
}

/////////////////
// LAYOUT: Min //
/////////////////

$total_width: $min_width;
$gutter_width: $tn_gutter;

.container {
  margin: 0 auto;
  max-width: $max_width;
  width: $total_width;
}

// This mixin is where the magic happens
// Do not delete this line
@include generate_helper_classes();
// END: magic

// Some over-rides so that the single column
// sm view works properly.
.column {
  margin-right: auto;
  width: 100%;
}

// Resets the default .push# grid margins to 0
@for $i from 0 through ($total_columns - 1) {
  .#{$class_push}#{$i} { margin: 0; }
}

////////////////////////////////////////
// LAYOUT: Small  - previously mobile //
////////////////////////////////////////

$total_width: ($sm_width)-($body_padding*2);
$gutter_width: $universal_gutter_width;

@include bp-sm {
  // This mixin is where the magic happens
  // Do not delete this line
  @include generate_helper_classes();
  // END: magic

  // Some over-rides so that the multiple column
  // md< views works properly.
  .column {
    float: left;
    margin-right: -100%;
  }

  .container { width: $total_width; }
}

/////////////////////////////////////////
// LAYOUT: Medium  - previously tablet //
/////////////////////////////////////////

$total_width: ($md_width)-($body_padding*2);
$gutter_width: $universal_gutter_width;

@include bp-md {
  // This mixin is where the magic happens
  // Do not delete this line
  @include generate_helper_classes();
  // END: magic

  // Some over-rides so that the multiple column
  // md< views works properly.
  .column {
    float: left;
    margin-right: -100%;
  }

  .container { width: $total_width; }
}

/////////////////////////////////////////
// LAYOUT: Large -- previously laptop  //
/////////////////////////////////////////

$total_width: ($lg_width)-($body_padding*2);
$gutter_width: $universal_gutter_width;

@include bp-lg {
  // This mixin is where the magic happens
  // Do not delete this line
  @include generate_helper_classes();
  // END: magic

  .container { width: $total_width; }
}

/////////////////////////////////////////
// LAYOUT: Maximum - previously full   //
/////////////////////////////////////////

$total_width: ($max_width)-($body_padding*2);
$gutter_width: $universal_gutter_width;

@include bp-max {
  // This mixin is where the magic happens
  // Do not delete this line
  @include generate_helper_classes();
  // END: magic

  .container { width: $total_width; }
}
