//* WIDTH MIXINS *
@function pixel-width($column-index) {
  $column-width: (($total-width + $gutter-width)/$total-columns)*$column-index;
  @return ($column-width - $gutter-width);
}

@function percent-width($column-index) {
  // *(100% - total-gutters) / number-of-things
  $number-of-columns: $total-columns / $column-index;
  $total-gutters: ($number-of-columns - 1) * $universal-gutter-width;
  @return calc((100% - #{$total-gutters}) / #{$number-of-columns});
}

//* CLASS HELPERS *
@mixin generate-universal-helper-classes() {
  .#{$class-row} {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .#{$class-container} {
    position: relative;
    margin: 0 auto;
    max-width: $max-width;
    box-sizing: border-box;
  }

  .#{$class-column} {
    position: relative;
    box-sizing: border-box;
  }

  .#{$class-overflow} {
    overflow: hidden;
  }
}

@mixin generate-classes-for-breakpoint($bp, $bp-width) {
  @include media($bp) {
    @include generate-classes-for-pixel-width($total-columns);
  }
}

@mixin generate-classes-for-pixel-width($-total-columns) {
  .#{$class-container} {
    width: $total-width;
  }

  //* Helper Class: Pixel Width */
  @for $i from 1 through $-total-columns {
    .#{$class-width-pixel}#{$i} {
      width: 100%;

      @if ($-total-columns > 1) {
        width: pixel-width($i);
      }
    }
  }

  //* Helper Class: Pixel Position */
  @for $i from 0 through ($-total-columns - 1) {
    .#{$class-push}#{$i} {
      margin-left: 0;

      @if ($-total-columns > 1) {
        margin-left: ($gutter-width + pixel-width($i));
      }
    }
  }
}

@mixin generate-classes-for-percent-width($-total-columns) {
  @for $i from 1 through $-total-columns {
    .#{$class-width-percent}#{$i} {
      width: 100%;

      @if ($-total-columns > 1) {
        float: left;
        margin-right: $universal-gutter-width;
        width: percent-width($i);

        &.omega {
          margin-right: 0;
        }
      }
    }
  }
}
