.toolbar-action {
  line-height: $util-nav-height;
  display: block;
  color: $primary-fg-color;
  &:hover {
    text-decoration: none;
    color: $link-color;
  }
  i {
    @include font-size($h3-size);
    line-height: $util-nav-height;
    display: inline-block;
    float: left;
    margin-right: $default-spacing/2;
  }
}
