- if policy(Page).index?
  = tenon_menu_item item, pages_path, :active => is_active("pages"), :submenu => policy(Page).create?
  - if policy(Page).create?
    %ul.tenon_submenu{ :class => is_active(["pages"]) ? "#{item} active" : item }
      = link_to "New Page", new_page_path, :class => ("active" if is_active(["pages"]) && params[:action] == "new")
    .spacer
