#asset-uploader
  #progress
  = form_for Tenon::Asset.new, format: 'json', builder: Tenon::FormBuilder do |f|
    = error_messages_for :asset
    .fields.full
      .form-group
        = f.text_field :title, placeholder: '--', explanation: 'Enter a title for your asset.  You can leave this blank to just use the file name as the title.  If you upload multiple assets a numerical series will be created.'

      .form-group
        .fileUpload.btn.btn-primary
          %span#choose-files Choose Files
          %input{ :type => 'file', :class => 'upload', multiple: defined?(multiple) && multiple, style: 'width: 100%;', name: 'asset[attachment]' }

    .spacer

