.full-width-embedded-content
  = f.hidden_field :list_order
  = f.hidden_field :row_type
  = f.fields_for :pieces do |piece|
    .tn-tc-piece.twelve
      = render "tenon/tenon_content/piece_types/form/embedded_content", f: piece, position: 0
  .spacer