.three-column-text
  = f.hidden_field :list_order
  = f.hidden_field :row_type
  = f.fields_for :pieces do |piece|
    .tn-tc-piece.four{class: cycle('', '', 'omega')}
      = render "tenon/tenon_content/piece_types/form/text", f: piece, position: piece.object.position
  .spacer